<table style="border: 1px solid blue;" border="0" cellspacing="0" cellpading="0">
	<thead>
		<tr>
			<th colspan="12">
				<b>FUERZAS MILITARES DE COLOMBIA<br/>EJERCITO NACIONAL</b>
			</th>
		</tr>
		<tr>
			<th colspan="12">
				<b><u>BOLETA DE CITACI&Oacute;N A PRIMER EXAMEN APTITUD PSICOF&Iacute;SICA</u></b>
			</th>
		</tr>
		<tr>
			<th colspan="12" style="font-size: 12px;">
				<b>SE&Ntilde;OR CIUDADANO USTED HA SIDO CITADO A PRIMER EXAMEN APTITUD PSICOF&Iacute;SICA EN EL PROCESO DE DEFENICI&Oacute;N
				DE SU SITUACI&Oacute;N MILITAR DE ACUERDO A LO CONSIGNADO EN LA LEY 48 DE 1993 POR LO CUAL SE REGLAMENTA EL SERVICIO
				DE RECLUTAMIENTO Y MOVILIZACI&Oacute;N</b>
			</th>
		</tr>
		<tr>
			<th colspan="12" style="font-size: 10px;">
				<b>ARTICULO 10.</b> Obligaci&oacute;n de definir la situaci&oacute;n militar. Todo varon colombiano esta obligado a definir
				su situaci&oacute;n militar a partir de la fecha en que cumpla su mayoria de edad, a excepci&oacute;n de los estudiantes de
				bachillerato quienes definir&acute;n cuando obtengan su t&iacute;tulo de bachiller.
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>D&iacute;a:</td>
			<td>{$diaCitaMedica}</td>
			<td>Mes:</td>
			<td>{$mesTextoCitaMedica}</td>
			<td>A&ntilde;o:</td>
			<td>{$anoCitaMedica}</td>
			<td>Hora:</td>
			<td>{$horaCitaMedica}</td>
			<td>:</td>
			<td>{$minutosCitaMedica}</td>
			<td>Lugar</td>
			<td>{$distritoMilitar}</td>
		</tr>
		<tr>
			<td colspan="6"><b>UNIDAD MILITAR QUE EFECTUA LA CITACI&Oacute;N</b></td>
			<td colspan="6">{$unidadMilitar}</td>
		</tr>
		<tr>
			<td colspan="5"><b>Apellidos y Nombres Del ciudadano</b></td>
			<td colspan="7">{$apellidosYNombres}</td>
		</tr>
		<tr>
			<td colspan="2"><b>Doc. Identidad No.</b></td>
			<td colspan="4"><b>{$idTipoDocumento}</b> {$numDocumento}</td>
			<td colspan="2">&nbsp;</td>
			<td colspan="4">
				<u>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				</u>
			</td>
		</tr>
		<tr>
			<td colspan="2">&nbsp;</td>
			<td colspan="4">&nbsp;</td>
			<td colspan="2">&nbsp;</td>
			<td colspan="4" style="text-align: center;">
				<b style="font-size: 8px;">Firma y Postfirma Autoridad de Reclutamiento<br>&oacute; Comandante Unidad Militar que Efect&uacute;a la Citaci&oacute;n</b>
			</td>
		</tr>
	</tbody>
</table>