
				<div id="incorporaciones">
         
		            <img src="{$smarty.const._DIRIMAGES}incorporaciones.png" alt="incorporaciones" style="*margin-top:-8px"/>
					
					<div class="oficiales">
					  <a href="http://www.esmic.edu.co/esmic/" title="Oficiales" target="_black"><img src="{$smarty.const._DIRIMAGES}oficiales.png" alt="Oficiales"/></a>
					</div>
					
					<br/>
					
					<div class="suboficiales">
					 <a href="http://www.emsub.mil.co/" title="Suboficiales" target="_black"><img src="{$smarty.const._DIRIMAGES}suboficiales.png" alt="Oficiales"/></a>
					</div>
					
					<br/>
					
					<div class="soldados">
					  <a href="http://www.espro.mil.co/" title="Soldados Profesionales" target="_black"><img src="{$smarty.const._DIRIMAGES}soldados-profesionales.png" alt="Soldados Profesionales"/></a>
				    </div> 
                </div>
				