<div class="slide slide-destacados alto_contraste col-sm-12">
	<a href="https://goo.gl/x7Y1jv" target="_blank">
		<div class="fonfo_destacado">
			<div class="img_dest1"></div>
			<div class="title_destacados">ENLISTMENT</div>
			<div class="line-red"></div>
		</div>
	</a>
</div>
<div class="slide slide-destacados alto_contraste col-sm-12">
	<a href="https://www.ejercito.mil.co/index.php?idcategoria=381779">
		<div class="fonfo_destacado">
			<div class="img_dest2"></div>
			<div class="title_destacados">PEDAGOGY FOR PEACE</div>
			<div class="line-red"></div>
		</div>
	</a>
</div>
<div class="slide slide-destacados alto_contraste col-sm-12">
	<a href="https://www.ejercito.mil.co/index.php?idcategoria=385326">
		<div class="fonfo_destacado">
			<div class="img_dest3"></div>
			<div class="title_destacados">THE VOICE OF THE COMMANDER</div>
			<div class="line-red"></div>
		</div>
	</a>
</div>
<div class="slide slide-destacados alto_contraste col-sm-12">
	<a href="https://www.ejercito.mil.co/index.php?idcategoria=357113">
		<div class="fonfo_destacado">
			<div class="img_dest4"></div>
			<div class="title_destacados">JUDICIAL NOTIFICATIONS</div>
			<div class="line-red"></div>
		</div>
	</a>
</div>
<div class="slide slide-destacados alto_contraste col-sm-12">
	<a href=" https://goo.gl/q0IAgl">
		<div class="fonfo_destacado">
			<div class="img_dest5"></div>
			<div class="title_destacados">SUBMIT YOUR REQUEST</div>
			<div class="line-red"></div>
		</div>
	</a>
</div>
<div class="slide slide-destacados alto_contraste col-sm-12">
	<a href="https://www.clublancita.mil.co/" target="_blank">
		<div class="fonfo_destacado">
			<div class="img_dest6"></div>
			<div class="title_destacados">I'M LANCITA</div>
			<div class="line-red"></div>
		</div>
	</a>
</div>
	
