{if $numPaginas > 1}
	<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
		<div id="titulo_actualidad">
			<h3 class="pagerH5">{$smarty.const._ROT_PAGER}</h3>
			<map title="{$smarty.const._ROT_NAV_PAGER}" name="nav_paginacion" class="container">
				<div class="row">
					<center>
						<p class="paginacion-aux-1 col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<span>[<a href="#fin7" class="wrap8">{$smarty.const._ROT_SKIP_PAGER}</a>]</span>
							{if $numPaginas > 6 and $paginas.actualPage != 1}
								<a href="index.php?idcategoria={$idcategoria}&amp;pag=1" class="boton wrap8">&lsaquo;&lsaquo;{$smarty.const._ROT_PRIMERO}</a>
							{/if}
							{if $paginas.previousPage != ''}
								<a href="index.php?idcategoria={$idcategoria}&amp;pag={$paginas.previousPage}" class="boton wrap8">&lsaquo;{$smarty.const._ROT_ANTERIOR}</a>
							{/if}
							{if $paginas.pags}
								{section name=idPag loop=$paginas.pags}
									{if $paginas.actualPage != $paginas.pags[idPag]}
										<span>[</span><a href="index.php?idcategoria={$idcategoria}&amp;pag={$paginas.pags[idPag]}" class="wrap8">{$paginas.pags[idPag]}</a><span>]</span>
									{else}
										<span class="actual">{$paginas.pags[idPag]}</span>
									{/if}
								{/section}
							{/if}
							{if $paginas.nextPage != ''}
								<a href="?idcategoria={$idcategoria}&amp;pag={$paginas.nextPage}" class="boton wrap8">{$smarty.const._ROT_SIGUIENTE}&rsaquo;</a>
							{/if}
							{if $numPaginas > 6 and $numPaginas != $paginas.actualPage}
								<a href="index.php?idcategoria={$idcategoria}&amp;pag={$numPaginas}" class="boton wrap8">{$smarty.const._ROT_ULTIMO}&rsaquo;&rsaquo;</a>
							{/if}
							<span>[<a name="fin7" class="findelista wrap8">{$smarty.const._ROT_END_PAGER}</a>]</span>
						</p>
					</center>
				</div>
			</map>
		</div>
	</div>
{/if}