<div class="container-fluid back-white">

</div>


<footer style="background-color:rgba(50,50,50,1); padding:40px;">
    

    <div class="container" style="padding: 0px;">
        <div class="col-md-12" style="padding: 0px;">
            <div class="col-md-3" style="padding: 0px;">
                <a  href="/" id="logo3">

                        <img class="img img-responsive img-cabezotes" id="imagen-logo3" style="padding-top: 15px; padding-bottom: 50px;" alt="Logo-Eje" src="_templates/DEFAULT2018/recursos/Bicentenario/img/LOGO-EJC-ROJO.png" ></a>

                    </a>
            </div>

            <div class="col-md-3">
                <div class=""style="height:240px;background: rgba(200,200,200,1); left:-10px;width:2px; margin-bottom:30px;position: absolute;"></div>
                <div><a href="#" class="font-weight" style="font-size:1.1em; font-weight: bold">{if $smarty.const._EN_INGLES !=1}Ejército Nacional de Colombia {else} National Army of Colombia{/if}</a></div>
                <div><a href="#" style="opacity: 0.8">{if $smarty.const._EN_INGLES !=1} {else}Address: {/if}{$smarty.const._DIRECCION}</a></div>
                <div><a href="#" style="opacity: 0.8">{$smarty.const._CIUDAD}</a></div>
                <div><br></div>
                <div><a href="#" style="opacity: 0.8">{if $smarty.const._EN_INGLES !=1}Horario de Atención: {else}  Opening Hours: {/if}</a></div>
                <div><a href="#" style="opacity: 0.8">{if $smarty.const._EN_INGLES !=1} Lunes a Viernes de: 8:00 am a 5:00 pm {else} Monday to Friday 08:00 hrs to 17:00 hrs {/if}</a></div>
                <div><br></div>
                <div><a href="#" style="opacity: 0.8">{if $smarty.const._EN_INGLES !=1}  Radicaciones por @mail:{else} Suggestions, complaints and comments:{/if}peticiones@pqr.mil.co </a></div>
            </div>

            <div class="col-md-3">
                <div><br></div>
                 <div><a href="#" style="opacity: 0.8">{if $smarty.const._EN_INGLES !=1} Línea gratuita nacional{else} National free line: {/if}</a></div>
                    <div><a href="#" style="opacity: 0.8">018000111689</a></div>
                    <div><br></div>
                    <div><a href="#" style="opacity: 0.8">{if $smarty.const._EN_INGLES !=1} Líneas de atención: {else}Landlines: {/if}</a></div>
                    <div><a href="#" style="opacity: 0.8">+57 (1) 2216336/ +57 (1) 2220950/ +57 (1) 4261499</a></div>
                    <div><br></div>
                    
                    <div><a href="https://www.ejercito.mil.co/recursos_user/2020/AVISO DE PRIVACIDAD Y SEGURIDAD - DATOS PERSONALES EJERCITO NACIONAL.pdf" style="opacity: 0.8">{if $smarty.const._EN_INGLES !=1} Seguridad y Privacidad Datos Personales {else}  Security and Personal Data Privacy {/if}</a></div>
                    <div><br></div>
                    
                    
                    
            </div>

            <div class="col-md-3">
                <div><br></div>
                 <div><a href="#"style="opacity: 0.8">{if $smarty.const._EN_INGLES !=1}Acciones administrativas o judiciales: {else} Administrative or judicial actions: {/if} notificaciones.bogota@mindefensa.gov.co</a></div>
                    <div><br></div>
                    <div><a href="#" style="opacity: 0.8">{if $smarty.const._EN_INGLES !=1}Acciones constitucionales: {else} Constitutional actions: {/if} ceoju@buzonejercito.mil.co</a></div>
                    <div><br></div>
                    <div><a href="https://www.ejercito.mil.co/recursos_user/2020/POLITICA_SGSI.pdf" style="opacity: 0.8">{if $smarty.const._EN_INGLES !=1}Politicas de seguridad de la información{else} Information Security Policies{/if}</a></div>
                    <!--<li><br></li>
                    <li><a href="#">Correo electrónico: sac@buzonejercito.mil.co</a></li>
                    -->
                    
                    

                    <a href="{$smarty.const.__INSTAGRAM}" title="Instagram"  class="">
                        <img  src="_templates/DEFAULT2018/recursos/images/redes/instagram.png" alt="" style="padding: 5px;">
                        <p class="hidden">{$smarty.const.__INSTAGRAM}</p>
                    </a>


                    <a href="{$smarty.const.__YOUTUBE}" title="Youtube"  class="">
                        <img  src="_templates/DEFAULT2018/recursos/images/redes/youtube.png" alt="" style="padding: 5px;">
                        <p class="hidden">{$smarty.const.__YOUTUBE}</p>
                    </a>

                    <a href="{$smarty.const.__TWITTER}" title="Twitter" class="" >
                        <img  src="_templates/DEFAULT2018/recursos/images/redes/twiter.png" alt="" style="padding: 5px;">
                        <p class="hidden">{$smarty.const.__TWITTER}</p>
                    </a>

                    <a href="{$smarty.const.__FACEBOOK}" title="Facebook" class="">
                        <img  src="_templates/DEFAULT2018/recursos/images/redes/face.png" alt="" style="padding: 5px;">
                        <p class="hidden">{$smarty.const.__FACEBOOK}</p>
                    </a>

            </div>


        </div>
    </div>

</footer>
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css" >
<!--<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCe7pg0zUL-V26LU9W4hNtC5jsijpEqtyE"></script>-->

{literal}
<script type="text/javascript">
    $('.nuevoslide').slick({
        slidesToShow: 4,
        slidesToScroll: 1,
        autoplay: false,
        arrows: true,
        nextArrow: '<div class="slick-next right-minislide-arrow"></div>',
        prevArrow: '<div class="slick-prev left-minislide-arrow"></div>',
        dots: false,
        speed: 2000,
        autoplaySpeed: 3000,
        responsive: [
            {
                breakpoint: 1024,
                settings: {
                    slidesToShow: 2,
                    slidesToScroll: 1,
                    infinite: true,
                    arrows: true,
                    nextArrow: '<div class="slick-next right-minislide-arrow"></div>',
                    prevArrow: '<div class="slick-prev left-minislide-arrow"></div>',
                    dots: false
                }
            },
            {
                breakpoint: 900,
                settings: {
                    slidesToShow: 2,
                    slidesToScroll: 1,
                    infinite: true,
                    arrows: true,
                    nextArrow: '<div class="slick-next right-minislide-arrow"></div>',
                    prevArrow: '<div class="slick-prev left-minislide-arrow"></div>',
                    dots: false
                }
            },
            {
                breakpoint: 600,
                settings: {
                    slidesToShow: 1,
                    slidesToScroll: 1,
                    infinite: true,
                    arrows: true,
                    nextArrow: '<div class="slick-next right-minislide-arrow"></div>',
                    prevArrow: '<div class="slick-prev left-minislide-arrow"></div>',
                    dots: false
                }
            },
            {
                breakpoint: 480,
                settings: {
                    slidesToShow: 1,
                    slidesToScroll: 1,
                    infinite: true,
                    arrows: true,
                    nextArrow: '<div class="slick-next right-minislide-arrow"></div>',
                    prevArrow: '<div class="slick-prev left-minislide-arrow"></div>',
                    dots: false
                }
            }
        ]
    });
</script>
<!--<script>
    function initMap() {
        var map = new google.maps.Map(document.getElementById('mapa'), {
            zoom: 16,
            center: {lat: 4.627788, lng: -74.0956512093544}
        });
        var image = '{/literal}{$smarty.const._DIRIMAGES}icon-map.png{literal}';
        var beachMarker = new google.maps.Marker({
            position: {lat: 4.627788, lng: -74.149904},
            map: map,
            icon: image
        });
    }

    $(document).on("ready", function () {
        // Funciones de Google Maps
        var punto = new google.maps.LatLng(4.627788, -74.149904);
        var config = {
            zoom: 16,
            center: punto,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        mapa = new google.maps.Map($("#mapa")[0], config);
        var iconod = '{/literal}{$smarty.const._DIRIMAGES}icon-map.png{literal}';
        marker = new google.maps.Marker
                ({
                    position: new google.maps.LatLng(4.627788, -74.149904),
                    icon: iconod,
                    map: mapa,
                    title: "Ejército Nacional de Colombia",
                });
    });
</script>-->
{/literal}
<script type="text/javascript">comienzo();</script>