<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
	<title>{$smarty.const._NOMBRESITIO}</title>
</head>
<body>
	<b>POR FAVOR NO RESPONDA ESTE MAIL.</b><br />
	<br />
	Apreciado (a): {$nombre}<br />
	<br />
	Cordial Saludo del Ejército Nacional de Colombia.<br />
	<br />
	Informamos que hemos recibido su solicitud, hemos iniciado gesti&oacute;n,<br />
	remitiendo el caso a la dependencia correspondiente, quien en el<br />
	transcurso de los pr&oacute;ximos d&iacute;as, dar&aacute; respuesta a su inquietud.<br />
	<br />
	Agradecemos su retroalimentaci&oacute;n, la cual contribuye al mejoramiento<br />
	de nuestro servicio y al cumplimiento de nuestro objetivo m&aacute;s<br />
	importante, la satisfacci&oacute;n de las necesidades de personas que como<br />
	usted han confiado en nuestra Instituci&oacute;n.<br />
	<br />
	puede consultar el estado de su solicitud haciendo <a href="{$smarty.const._URL}?idcategoria={$smarty.const._INICIO_PQR}&ver_solicitudes=1&consulta_hash={$hash}">click en este v&iacute;nculo</a>
</body>
</html>