@charset "UTF-8";
.interest-themes[_ngcontent-fkk-c9] {
 margin:0;
 font-size:1rem;
 background-color:#000000;
 padding:5rem 0
}
.interest-themes[_ngcontent-fkk-c9]   .headboard[_ngcontent-fkk-c9] {
 margin-bottom:3rem;
 text-align:center
}
.interest-themes[_ngcontent-fkk-c9]   .headboard[_ngcontent-fkk-c9]   .title[_ngcontent-fkk-c9] {
 font-family:Montserrat,sans-serif;
 font-weight:700;
 color:#7c0808;
 font-size:2rem;
 line-height:44px
}
.interest-themes[_ngcontent-fkk-c9]   .headboard[_ngcontent-fkk-c9]   .launch[_ngcontent-fkk-c9] {
 font-family:"Work Sans",sans-serif;
 font-weight:500;
 font-size:.938rem;
 letter-spacing:.6px;
 margin-bottom:1em;
 text-transform:uppercase;
 color:#323335
}
.interest-themes[_ngcontent-fkk-c9]   .theme-0[_ngcontent-fkk-c9],
.interest-themes[_ngcontent-fkk-c9]   .theme-1[_ngcontent-fkk-c9] {
 padding-top:1rem;
 padding-bottom:1rem
}
.interest-themes[_ngcontent-fkk-c9]   .card[_ngcontent-fkk-c9] {
 border-radius:.625rem;
 overflow:hidden;
 box-shadow:none;
 border:1px solid #e5eefb
}
.interest-themes[_ngcontent-fkk-c9]   .interest-theme-container[_ngcontent-fkk-c9] {
 max-height:12.5rem;
 overflow:hidden
}
.interest-themes[_ngcontent-fkk-c9]   .interest-theme-container[_ngcontent-fkk-c9]   .card-img-govco[_ngcontent-fkk-c9] {
 height:12.5rem;
 display:-webkit-box;
 display:flex;
 -webkit-box-pack:center;
 justify-content:center;
 -webkit-box-align:center;
 align-items:center;
 overflow:hidden;
 clear:both
}
@media screen and (max-width:768px) {
 .interest-themes[_ngcontent-fkk-c9]   .interest-theme-container[_ngcontent-fkk-c9]   .card-img-govco[_ngcontent-fkk-c9] {
  height:126px
 }
}
.interest-themes[_ngcontent-fkk-c9]   .interest-theme-container[_ngcontent-fkk-c9]   .card-header-govco[_ngcontent-fkk-c9] {
 height:12.5rem;
 padding:1rem;
 display:-webkit-box;
 display:flex;
 -webkit-box-orient:vertical;
 -webkit-box-direction:normal;
 flex-direction:column;
 -webkit-box-pack:center;
 justify-content:center
}
.interest-themes[_ngcontent-fkk-c9]   .interest-theme-container[_ngcontent-fkk-c9]   .card-header-govco[_ngcontent-fkk-c9]   .title-govco-temas[_ngcontent-fkk-c9] {
 color:#7c0808;
 font-size:20px;
 line-height:28px;
 margin-bottom:.5rem;
 display:block;
 font-weight:600;
 text-decoration:none
}
.interest-themes[_ngcontent-fkk-c9]   .interest-theme-container[_ngcontent-fkk-c9]   .card-header-govco[_ngcontent-fkk-c9]   .title-govco-temas[_ngcontent-fkk-c9]:hover {
 color:#7c0808!important;
 font-size:20px!important;
 text-decoration:underline
}
.interest-themes[_ngcontent-fkk-c9]   .interest-theme-container[_ngcontent-fkk-c9]   .content-govco[_ngcontent-fkk-c9] {
 font-size:1rem;
 font-family:"Work Sans",sans-serif;
 color:#4b4b4b;
 line-height:1.3125rem
}
.interest-themes[_ngcontent-fkk-c9]   .temas-section[_ngcontent-fkk-c9] {
 border-radius:10px;
 margin:1%
}
.interest-themes[_ngcontent-fkk-c9]   .temaslink[_ngcontent-fkk-c9] {
 text-align:center;
 font-size:1rem;
 color:#7c0808;
 opacity:1;
 padding-top:1rem
}
.interest-themes[_ngcontent-fkk-c9]   .temaslink[_ngcontent-fkk-c9]   .btn[_ngcontent-fkk-c9] {
 padding:.5rem 3rem
}
@media screen and (max-width:320px) {
 .interest-themes[_ngcontent-fkk-c9]   .card-img-govco[_ngcontent-fkk-c9] {
  max-width:unset
 }
 .interest-themes[_ngcontent-fkk-c9]   .interest-theme-container[_ngcontent-fkk-c9] {
  height:unset
 }
}
@media screen and (max-width:768px) {
 .interest-themes[_ngcontent-fkk-c9]   .interest-theme-container[_ngcontent-fkk-c9]   .card-header-govco[_ngcontent-fkk-c9] {
  height:auto
 }
 .interest-themes[_ngcontent-fkk-c9]   .interest-theme-container[_ngcontent-fkk-c9]   .card-header-govco[_ngcontent-fkk-c9]   .title-govco[_ngcontent-fkk-c9] {
  font-size:1rem;
  line-height:24px
 }
 .interest-themes[_ngcontent-fkk-c9] {
  padding:2rem 0
 }
 .interest-themes[_ngcontent-fkk-c9]   .headboard[_ngcontent-fkk-c9] {
  text-align:left;
  margin-bottom:1em
 }
 .interest-themes[_ngcontent-fkk-c9]   .headboard[_ngcontent-fkk-c9]   .launch[_ngcontent-fkk-c9] {
  font-size:13px!important;
  letter-spacing:0
 }
 .interest-themes[_ngcontent-fkk-c9]   .headboard[_ngcontent-fkk-c9]   .title[_ngcontent-fkk-c9] {
  font-size:24px!important;
  line-height:36px;
  text-align:left
 }
 .interest-themes[_ngcontent-fkk-c9]   .interest-theme-container[_ngcontent-fkk-c9] {
  max-height:unset
 }
 .interest-themes[_ngcontent-fkk-c9]   .card-header-govco[_ngcontent-fkk-c9],
 .interest-themes[_ngcontent-fkk-c9]   .card-img-govco[_ngcontent-fkk-c9] {
  max-width:unset
 }
 .interest-themes[_ngcontent-fkk-c9]   .theme-0[_ngcontent-fkk-c9],
 .interest-themes[_ngcontent-fkk-c9]   .theme-1[_ngcontent-fkk-c9] {
  padding-right:1rem!important;
  padding-left:1rem!important
 }
}
@media screen and (min-width:768px) and (max-width:992px) {
 .theme-0[_ngcontent-fkk-c9],
 .theme-1[_ngcontent-fkk-c9] {
  padding-right:0!important;
  padding-left:0!important
 }
}
