<br />
<br />
<div align="center">
    <table>
        <tr>
            <td>
                <div class="casilla1">
                    <a href="https://bibliotecavirtualejercitocolombia.odilotk.es" target="_blank">
                        <img src="img/CAJON1.jpg" width="300" height="300"/>
                    </a>
                 </div>
            </td>
            <td>
                <div class="casilla2">
                    <a href="https://clubdelecturaejercitocolombia.odilotk.es/" target="_blank">
                        <img src="img/CAJON2.jpg" width="300" height="300"/>
                    </a>
                 </div>
            </td>
            <td>
                <div class="casilla3">
                    <a href="http://gehejercitonacional.uni.planetasaber.com" target="_blank">
                        <img src="img/CAJON5.jpg" width="300" height="300"/>
                    </a>
                 </div>
            </td>
        </tr>
    </table>
</div>