<div class="row tabla_lateral1" style="">
	
	<div class="col-md-12 col-lg-12" id="destacados-lateral" style="height: 759px;">
		<div class="slide slide-destacados alto_contraste col-sm-12" style="height: 250px;">
			<div class="row" >
				<a href="https://www.reclutamiento.mil.co/" target="_blank">
					<div class="fonfo_destacado-lateral">
						<div class="" style="width:100%;"></div>
						<div class="img_dest1" style="height: 190px; width:250px;"></div>
						<div style="background-color: white;margin-top:-10px;padding-top:10px;">
						<div class="" style="background-color: #862024;height: 3px;width: 200px;margin-top:10px;margin-left: 20px;"></div>
						<div class="" style="color:black;font-family: Roboto; margin-top: 7px; font-size: 1.2em; font-weight: bold;margin-left:20px;">Incorporaci&oacute;n</div>
						</div>
					</div>
				</a>
			</div>
		</div>
		<div class="slide slide-destacados alto_contraste col-sm-12" style="height: 250px;">
			<div class="row">
				<a href="https://www.ejercito.mil.co/informes_noticias/enterese_proceso_paz">
					<div class="fonfo_destacado-lateral">
						<div class="" style="width:100%;"></div>
						<div class="img_dest2" style="height: 190px; width:250px;background-size: cover;"></div>
						<div style="background-color: white;margin-top:-10px;padding-top:10px;">
						<div class="" style="background-color: #862024;height: 3px;width: 200px;margin-top:10px;margin-left: 20px;"></div>
						<div  style="color:black;font-family: Roboto; margin-top: 7px; font-size: 1.2em; font-weight: bold;margin-left:20px;">Pedagog&iacute;a para la paz</div>
						</div>
					</div>
				</a>
			</div>
		</div>
		<div class="slide slide-destacados alto_contraste col-sm-12" style="height: 250px;">
			<div class="row">
				<a href="https://www.ejercito.mil.co/informes_noticias/habla_comandante">
					<div class="fonfo_destacado-lateral">
						<div class="" style="width:100%;"></div>
						<div class="img_dest3" style="height: 190px; width:250px;background-size: cover;"></div>
						<div style="background-color: white;margin-top:-10px;padding-top:10px;">
						<div class="" style="background-color: #862024;height: 3px;width: 200px;margin-top:10px;margin-left: 20px;"></div>
						<div  style="color:black;font-family: Roboto; margin-top: 7px; font-size: 1.2em; font-weight: bold;margin-left:20px;">La voz del comandante</div>
						</div>
					</div>
				</a>
			</div>
		</div>
		<div class="slide slide-destacados alto_contraste col-sm-12" style="height: 250px;">
			<div class="row">
				<a href="https://www.ejercito.mil.co/servicio_ciudadano/cumplimiento_sentencias">
					<div class="fonfo_destacado-lateral">
						<div class="" style="width:100%;"></div>
						<div class="img_dest4" style="height: 190px; width:250px;"></div>
						<div style="background-color: white;margin-top:-10px;padding-top:10px;">
						<div class="" style="background-color: #862024;height: 3px;width: 200px;margin-top:10px;margin-left: 20px;"></div>
						<div style="color:black;font-family: Roboto; margin-top: 7px; font-size: 1.2em; font-weight: bold;margin-left:20px;">Notificaciones judiciales</div>
						</div>
					</div>
				</a>
			</div>
		</div>
		<div class="slide slide-destacados alto_contraste col-sm-12" style="height: 250px;">
			<div class="row">
				<a href="http://www.pqr.mil.co/">
					<div class="fonfo_destacado-lateral">
						<div class="" style="width:100%;"></div>
						<div class="img_dest5" style="height: 190px; width:250px;"></div>
						<div style="background-color: white;margin-top:-10px;padding-top:10px;">
						<div class="" style="background-color: #862024;height: 3px;width: 200px;margin-top:10px;margin-left: 20px;"></div>
						<div  style="color:black;font-family: Roboto; margin-top: 7px; font-size: 1.2em; font-weight: bold;margin-left:20px;">Registre sus solicitudes</div>
						</div>
					</div>
				</a>
			</div>
		</div>
		<div class="slide slide-destacados alto_contraste col-sm-12" style="height: 250px;">
			<div class="row">
				<a href="https://www.clublancita.mil.co/" target="_blank">
					<div class="fonfo_destacado-lateral">
						<div class="" style="width:100%;"></div>
						<div class="img_dest6" style="height: 190px; width:250px;background-size: cover;"></div>
						<div style="background-color: white;margin-top:-10px;padding-top:10px;">
						<div class="" style="background-color: #862024;height: 3px;width: 200px;margin-top:10px;margin-left: 20px;"></div>
						<div  style="color:black;font-family: Roboto; margin-top: 7px; font-size: 1.2em; font-weight: bold;margin-left:20px;">Soy lancita</div>
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>


{literal}
	<script type="text/javascript">
		$(document).ready(function() {
		  // slick carousel
		  $('#destacados-lateral').slick({
		    autoplay: true,
		    speed: 4000,
        	autoplaySpeed: 3000,
		    dots: false,
		    vertical: true,
		    slidesToShow: 3,
		    slidesToScroll: 1,
		    verticalSwiping: true,
		    nextArrow: '<div class="slick-next right-slide-lateral" style="margin-top: 25px;"></div>',
          	prevArrow: '<div class="slick-prev left-slide-lateral"></div>',
		  });
		});
	</script>
{/literal}