<div id="actualidad">

	<ol id="secActualidadMain">
	 {section name=idincorporaciones loop=$hijoDestacadoIncorporaciones start=0 loop=3 step=1}

	     {if $smarty.section.idincorporaciones.index eq 2}
			         
				 <li name="secActualidad" style="width:94%;*padding-bottom: 17px">
			   
			{else}
			   
			     <li name="secActualidad" style="border-bottom:0px dotted #000000;width:94%;*padding-bottom: 17px">
			      
		 {/if}
						
						<a href="index.php?idcategoria={$hijoDestacadoIncorporaciones[idincorporaciones].idcategoria}" target="_blank" 
						  title="{$hijoDestacadoIncorporaciones[idincorporaciones].nombre}">
						  
								 <img src="tools/microsThumb.php?src={$smarty.const._DIRIMAGES_USER}{$hijoDestacadoIncorporaciones[idincorporaciones].imagen}&amp;w=129&amp;h=97" alt="{$hijoDestacadoIncorporaciones[idincorporaciones].nombre}#" /> 
										 
								 <span>{$hijoDestacadoIncorporaciones[idincorporaciones].nombre|truncate:100:"...":true}</span>
						</a> 
						
						<p>{$hijoDestacadoIncorporaciones[idincorporaciones].entradilla|truncate:230:"...":true}</p>
				        
						<a href="index.php?idcategoria={$hijoDestacadoIncorporaciones[idincorporaciones].idcategoria}#" style="text-align:left;color:#a01c15;margin-left:81%;position:relative;">Ver más [+]</a>
			     </li>  
			
	 {/section}
    </ol>
</div>	
