<link href="{$DIRCSS}estilo_pqr.css" rel="stylesheet" type="text/css">
{literal}
<script type="text/javascript" src="{/literal}{$DIRJS}select_dependientes.js{literal}"></script>
<script language="javascript">
function deshabilitar(){
    document.form_solicitud.enviar.disabled=true;
}
</script>
{/literal}
<form id="form_solicitud" name="form_solicitud" onsubmit="deshabilitar();"  action="" method="post" enctype="multipart/form-data">

<input type="hidden" name="accion" value="">
<input type="hidden" name="ida"    value="">

<table id="tabla_pqr" style="background-position:center;text-aling:center">
{if $dependencia == 191}
<tr>
	<td colspan="4">
<h3>
CERTIFICADO 50 A&Ntilde;OS
</h3>
{*Debe diligenciar el formulario que se encuentra en la parte inferior de la pantalla, y tambi&eacute;n debe adjuntar  la fotocopia ampliada al 150%. Una vez hecho esto al cabo de 24 Horas tendr&aacute; repuesta de su solicitud una vez se hayan validado los datos. La repuesta de su solicitud sera enviada a su correo electr&oacute;nico*}
<strong>INSTRUCCIONES PARA SOLICITAR SU CERTIFICADO DE 50 A&Ntilde;OS
<ol>
<li>Debe diligenciar el formulario que se encuentra en la parte inferior de la pantalla completando la informaci&oacute;n que alli se solicita, Recuerde que todos los datos alli estipulados son obligatorios.
<li>Una vez completada la informaci&oacute;n debe adjuntar la fotocopia de su cedula ampliada al 150% por medio de la opci&oacute;n Examinar.. que aparece al final de la pantalla
<li>Luego debe escribir el codigo de verificaci&oacute;n que aparece al final de la pantalla, con este codigo podr&aacute; verificar y descargar el certificado en el transcurso de las 24 horas siguientes a la solicitud. Recuerde guardar el codigo en un lugar donde lo pueda recordar.
</ol>
	</td>
</tr>
{elseif $dependencia == 192}
<tr>
	<td colspan="4">
<h3>
LIBRETA MILITAR DESMOVILIZADOS
</h3>
{*Debe diligenciar el formulario que se encuentra en la parte inferior de la pantalla, y tambi&eacute;n debe adjuntar  la fotocopia ampliada al 150%. Una vez hecho esto al cabo de 24 Horas tendr&aacute; repuesta de su solicitud una vez se hayan validado los datos. La repuesta de su solicitud sera enviada a su correo electr&oacute;nico*}
<b>INSTRUCCIONES PARA SOLICITAR SU LIBRETA MILITAR DESMOVILIZADOS
<ol>
<li>Debe diligenciar el formulario que se encuentra en la parte inferior de la pantalla completando la informaci&oacute;n que alli se solicita, Recuerde que todos los datos alli estipulados son obligatorios.
<li>Una vez completada la informaci&oacute;n debe adjuntar fotocopia del certificado del CODA (Comité operativo para la dejación de las armas) por medio de la opci&oacute;n Examinar.. que aparece al final de la pantalla
<li>Luego debe escribir el codigo de verificaci&oacute;n que aparece al final de la pantalla, con este codigo podr&aacute; verificar el estado de su tr&aacute;mite.
</ol>
	</td>
</tr>
{/if}
{if $ver_solicitudes==0}
	{if $continuar=='no' || $flg_enviar=='no'}
		<tr>
		    <td colspan="4">
		    	{if $flg_enviar=='ok'}
					<div class="error">
						<ul>
							{section name=indice loop=$errores}
								<li>{$errores[indice]}</li>
							{/section}
						</ul>
					</div>
				{else}
					{if $flg_usuario_registrado=='no'}
						<div style="border-top:solid 1px;border-bottom:solid 1px;text-align:center;background-color:#F1F6F9">
							<div><br>CONSULTAR EL ESTADO DE UNA SOLICITUD</div>
								<label for="consulta_hash">Digite el c&oacute;digo</label>
								<input type="text" name="consulta_hash" id="consulta_hash" />
								<input type="hidden" name="ver_solicitudes" id="ver_solicitudes" value="1" />
								<input type="submit" name="envia_consulta_hash" id="envia_consulta_hash" value="Consultar" />
								<br>&nbsp;
						</div>
					{else}
					
					    <!-- Independización de consultar solicitudes -->
						<!-- Boton antiguo -->
						<!--<div class="boton_resaltado_pqr"><a href="{$esta_pagina}&ver_solicitudes=1">Consultar el estado de mis solicitudes</a></div>-->
						
						<div class="boton_resaltado_pqr">
						  <a href="index.php?idcategoria=318132&ver_solicitudes=1">Consultar el estado de mis solicitudes</a>
						</div>
								
					{/if}
					<div class="texto_normal"><br />{$lb_introduccion_formulario}</div>
				{/if}
		    	<div class="titulo_formulario">{$lb_titulo_datos_personales}</div>
			</td>
		</tr>
		<tr>
			<td style="width:150px">
				<div class="lb_formulario"><label for="nombre">{$lb_nombre}</label></div>
			</td>
			<td colspan="3">
				<div><input type="text" id="nombre" name="nombre" value="{$nombre}" size="40" {if $flg_disabled_nombre=='1'} disabled{/if} /></div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="lb_formulario_izq"><label for="tipo_identificacion">{$lb_tipo_identificacion}</label></div>
			</td>
			<td colspan="3">
				<div class="lb_formulario_izq">
		    		<select id="tipo_identificacion" title="tipo_identificacion" name="tipo_identificacion" onchange="mostrarDigitoVerificacion(this.id,'digito_verificacion')" onload="mostrarDigitoVerificacion(this.id,'digito_verificacion')">
		    			{html_options values=$select_tipo_identificacion.id output=$select_tipo_identificacion.nombre selected="$tipo_identificacion"}
		    		</select>
		    	</div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="lb_formulario"><label for="numero_identificacion">{$lb_numero_identificacion}</label></div>
			</td>
			<td colspan="3">
				<div class="textbox_izq"><input type="text" id="numero_identificacion" name="numero_identificacion" value="{$numero_identificacion}" size="40" /></div>
				<div id="digito_verificacion" style="visibility:{$digito_verificacion_visibility}"><label for="digito_verificacion">&nbsp;- </label><input type="text" id="digito_verificacion" name="digito_verificacion" value="{$digito_verificacion}" size="1" maxlength="1" /></div>
			</td>
		</tr>

		{if $flg_originador_visible=='1'}
			<tr>
				<td>
					<div class="lb_formulario"><label for="tipo_persona">{$lb_tipo_persona}</label></div>
				</td>
				<td colspan="3">
					<div class="input_normal">
						<select id="tipo_persona" title="tipo_persona" name="tipo_persona">
							{html_options values=$select_tipo_persona.id output=$select_tipo_persona.nombre selected="$tipo_persona"}
						</select>
					</div>
				</td>
			</tr>
		{/if}
		<tr>
			<td>
				<div class="lb_formulario"><label for="direccion">{$lb_direccion}</label></div>
			</td>
			<td colspan="3">
				<div><input type="text" id="direccion" name="direccion" value="{$direccion}" size="40" {if $flg_disabled_direccion=='1'}disabled{/if} /></div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="lb_formulario"><label for="telefono">{$lb_telefono}</label></div>
			</td>
			<td colspan="3">
				<div><input type="text" id="telefono" name="telefono" value="{$telefono}" size="40" {if $flg_disabled_telefono=='1'}disabled{/if} /></div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="lb_formulario"><label for="celular">{$lb_celular}</label></div>
			</td>
			<td colspan="3">
				<div><input type="text" id="celular" name="celular" value="{$celular}" size="40"/></div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="lb_formulario"><label for="email">{$lb_email}</label></div>
			</td>
			<td colspan="3">
				<div><input type="text" id="email" name="email" style="border:1px solid #FF8000" value="{$email}" size="40" {if $flg_disabled_email=='1'}disabled{/if} /></div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="lb_formulario"><label for="ubicacion_n1">{$lb_ubicacion}</label></div>
			</td>
			<td colspan="3">
				<table>
					{section name=section_region loop=$select_region}
						<tr>
							<td>
								{$select_region[section_region]}
							</td>
						</tr>
					{/section}
				</table>
		</tr>
		<tr>
		    <td colspan="4">
		    	<div class="titulo_formulario">{$lb_titulo_info_solicitud}</div>
			</td>
		</tr>
{if $dependencia != 191 and $dependencia != 192}
		{if $flg_estado==1}
			<tr>
				<td>
					<div class="lb_formulario"><label for="estado">{$lb_estado}</label></div>
				</td>
				<td colspan="3">
		    		<select name="estado" id="estado" title="estado">
		    			{html_options values=$select_estado.id output=$select_estado.nombre selected="$estado"}
		    		</select>
				</td>
			</tr>
		{/if}
		{if $flg_medio_recepcion==1}
			<tr>
				<td>
					<div class="lb_formulario"><label for="medio_recepcion">{$lb_medio_recepcion}</label></div>
				</td>
				<td colspan="3">
		    		<select name="medio_recepcion" id="medio_recepcion" title="medio_recepcion">
		    			{html_options values=$select_medio_recepcion.id output=$select_medio_recepcion.nombre selected="$medio_recepcion"}
		    		</select>
				</td>
			</tr>
		{/if}
		<tr>
			<td>
				<div class="lb_formulario"><label for="tipo_solicitud">{$lb_tipo_solicitud}</label></div>
			</td>

			<td colspan="2">
	    		<select name="tipo_solicitud" id="tipo_solicitud" onchange="obtenerDescripcion()" title="tipo_solicitud">
	    			{html_options values=$select_tipo_solicitud.id output=$select_tipo_solicitud.nombre selected="$tipo_solicitud"}
	    		</select>
			</td>
		</tr>
		<tr>
			<td>
				<div class="lb_formulario"></div>
			</td>
			<td style="background-color:#94A8BC"><!--bgcolor="#94A8BC"-->
				<div id='tipo_descripcion'>
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="lb_formulario">{$lb_dependencia}</div>
			</td>
			<td colspan="3">
			{if $flg_administrador_pqr=='ok' or $flg_digitador_pqr=='ok'}
				<table>
			 		{section name=section_dependencia loop=$select_dependencia}
						<tr>
							<td>
								{$select_dependencia[section_dependencia]}
							</td>
						</tr>
					{/section}
				</table>
			{else}

				<table>

						<tr>
							<td>
								{$dependencia_usuario}
							</td>
						</tr>

				</table>
			{/if}

			</td>
		</tr>
		<tr>
			<td>
				<div class="lb_formulario"><label for="asunto_n1">{$lb_asunto}</label></div>
			</td>
			<td colspan="3">
				<table {$estilo_nombre}>
					{if $flg_disabled_select_asunto == 1}
						<tr>
							<td>{$asunto_nombre}</td>
						</tr>
					{else}
				 		{section name=section_asunto loop=$select_asunto}
							<tr>
								<td>
									{$select_asunto[section_asunto]}
								</td>
							</tr>
						{/section}
					{/if}
				</table>
			</td>
		</tr>
		<tr>
			<td><div class="lb_formulario"></div></td>
			<td style="background-color:#94A8BC"><!--bgcolor="#94A8BC"-->
				<div id="asunto_descripcion"></div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="lb_formulario"><label for="solicitud">{$lb_solicitud}</label></div>
			</td>
			<td colspan="3">
				<div><textarea id="solicitud" name="solicitud" rows=10 cols=40>{$solicitud}</textarea></div>
				<div>{$lb_advertencia_campo_solicitud}</div>
			</td>
		</tr>
{else}
<input type="hidden" name="solicitud" value="Requerimiento certificado 50 a&ntilde;os" />
{/if} 
		{if $flg_resumen==1}
			<tr>
				<td>
					<div class="lb_formulario"><label for="resumen">{$lb_resumen}</label></div>
				</td>
				<td colspan="3">
					<div><textarea id="resumen" name="resumen" rows=10 cols=40>{$resumen}</textarea></div>
				</td>
			</tr>
		{/if}
{if $mensaje != ''}
<tr>
<td colspan="4">
     <div style="font-size:1.3em;font-weight:bold">{$mensaje}</div>
</td>
</tr>
{else}

		<tr>
			<td colspan="4">
				<div class="lb_formulario"><label for="archivos[]">{$lb_lista_documentos}</label></div>
			</td>
		</tr>

		<tr>
			<td colspan="4">
				<div class="lb_formulario">{$lb_adjuntar_advertencia}</div>
			</td>
		</tr>
<tr>
<td colspan="4">
 <div style="border:solid 1px;width:500px;background-position:justify;text-aling:justify">{$texto_ayuda}</div>
</td>
</tr>
{/if}
		<tr>
			<td colspan="4">
				<dl>
		   			<dd>
			   			<div id="adjuntos">
			   				<input type="file" name="archivos[]" id="archivos[]" /><br />
			   			</div>
					</dd>
		   			<dd>
		   				<input type="button" onClick="addCampoUsuario()" onkeypress="addCampoUsuario()" value="{$lb_lk_subir_mas}" class="boton_small_pqr" />
		   			</dd>
	     		</dl>
			</td>
		</tr>
		{if $flg_hash==1}
			<tr>
				<td colspan="4">
					<div class="titulo_formulario">{$lb_titulo_confirmacion}</div>
					<div class="lb_formulario_centro">
						<label for="hash">{$lb_confirmacion_codigo}:</label>  <input type="text" name="hash" id="hash"/>
					</div>
					<div class="lb_formulario_centro">
						<img src="tools/captcha.php" alt="Esto nos ayuda a prevenir los registros automatizados."/>
					</div>
				</td>
			</tr>
		{/if}
		<tr>
			<td colspan="4" style="background-position:center;text-aling:center">
				<div>
                                    <input type="submit" id="enviar"  name="enviar" value="{$btn_lb_enviar}"/>
				</div>
			</td>
		</tr>
		<!--</form>-->
		<!--</table>-->
	{else}
		<tr>
			<td style="background-position:center;text-aling:center">
				<div class="mensaje_usuario">
					{$msg_respuesta}
				</div>
				<a style="margin-right:5px" href="{$esta_pagina}">Continuar</a>
				<!-- <span><a href="javascript:print()"><img src="{$smarty.const._DIRIMAGES}auxiliares/mini_imprimir.gif" border="0">Imprimir</a></span> -->
			</td>
		</tr>
	{/if}
{else}
	<div class="boton_resaltado_pqr"><a href="{$esta_pagina}&ver_solicitudes=0">Volver</a></div>
	{$solicitudes_html}
{/if}
 <!--</table>--></table></form>
{if $flg_administrador_pqr=='ok' || $flg_registrado=='ok' || $flg_gestor_pqr=='ok'}
	<div class="boton_resaltado_pqr" >{$link_menu_administracion}</div>
{/if}
