<link href="{$DIRCSS}estilo_pqr.css" rel="stylesheet" type="text/css">
{literal}
<script type="text/javascript" src="{/literal}{$DIRJS}select_dependientes.js{literal}"></script>
<script type="text/javascript" src="{/literal}{$DIRJS}nombre.js{literal}"></script>
<script type="text/javascript" src="{/literal}{$DIRJS}ba.js{literal}"></script>
<script type="text/javascript">
</script>

{/literal}

<form method="post" action="https://www.abcpagos.com/libretamilitar/index.php">
    <input type="text" name="id" value="XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX">
    <input type="text" name="codigo_servcio" value="X">
    <input type="text" name="referencia" maxlength="80">
    <input type="text" name="tipo_documento" maxlength="80">
    <input type="text" name="no_documento" maxlength="80">
    <input type="text" name="nombre" maxlength="80">
    <input type="text" name="valor" maxlength="10">
    <input type="text" name="iva" maxlength="8">
    <input type="text" name="descricpcion" maxlength="80" value="Duplicado libreta militar">
    <input type="submit" name="Submit" value="Pagar">
</form>
