<html>
<link href="../{$smarty.const._DIRCSS}estilo_general.css" rel="stylesheet" type="text/css">
<title>{$smarty.const._NOMBRESITIO}</title>
<FRAMESET ROWS="280,*" FRAMEBORDER="0" BORDER="0" FRAMESPACING="0">
    <FRAME SRC="marco.php?c&amp;idcategoria={$idcategoria}" NAME="marco" FRAMEBORDER="0" BORDER="1" FRAMESPACING="0" MARGINWIDTH="3" MARGINHEIGHT="3" scrolling="NO">
    <FRAME SRC="{$linkExterno}" NAME="pagina" FRAMEBORDER="0" BORDER="0" FRAMESPACING="0" MARGINWIDTH=0 MARGINHEIGHT=0>
</FRAMESET>
</html>
