<div class="destacados_home">
	<div class="row">
		<div class="col-md-4 col-lg-2 col-sm-12 col-xs-6" style="text-align:center">
			<div class="row">
				<a href="https://goo.gl/x7Y1jv" target="_blank">
					<div class="fonfo_destacado">
						<div class="img_dest1"></div>
						<div class="title_destacados">ENLISTMENT</div>
					</div>
				</a>
			</div>
		</div>
		<div class="col-md-4 col-lg-2 col-sm-12 col-xs-6" style="text-align:center">
			<div class="row">
				<a href="https://www.ejercito.mil.co/index.php?idcategoria=381779">
					<div class="fonfo_destacado">
						<div class="img_dest2"></div>
						<div class="title_destacados">PEDAGOGY FOR PEACE</div>
					</div>
				</a>
			</div>
		</div>
		<div class="col-md-4 col-lg-2 col-sm-12 col-xs-6" style="text-align:center">
			<div class="row">
				<a href="https://www.ejercito.mil.co/index.php?idcategoria=385326">
					<div class="fonfo_destacado">
						<div class="img_dest3"></div>
						<div class="title_destacados">THE VOICE OF THE COMMANDER</div>
					</div>
				</a>
			</div>
		</div>
		<div class="col-md-4 col-lg-2 col-sm-12 col-xs-6" style="text-align:center">
			<div class="row">
				<a href="https://www.ejercito.mil.co/index.php?idcategoria=357113">
					<div class="fonfo_destacado">
						<div class="img_dest4"></div>
						<div class="title_destacados">JUDICAL NOTIFICATIONS</div>
					</div>
				</a>
			</div>
		</div>
		<div class="col-md-4 col-lg-2 col-sm-12 col-xs-6" style="text-align:center">
			<div class="row">
				<a href=" https://goo.gl/q0IAgl">
					<div class="fonfo_destacado">
						<div class="img_dest5"></div>
						<div class="title_destacados">SUBMIT YOUR REQUEST</div>
					</div>
				</a>
			</div>
		</div>
		<div class="col-md-4 col-lg-2 col-sm-12 col-xs-6" style="text-align:center">
			<div class="row">
				<a href="https://www.clublancita.mil.co/" target="_blank">
					<div class="fonfo_destacado">
						<div class="img_dest6"></div>
						<div class="title_destacados">I'M LANCITA</div>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>	
