

<!--Template Formulario de Registro-->

<div id="utilidades">



{if $subMenuError != ""}{strip}

<div class="advertencia"><br>

	{$subMenuError}

<br></div>

{/strip}

{/if}



<div><br>{$c_formulario_titulo2}<br></div>



<form method="POST" action="{$c_action}" target="_self">
	<input type="hidden" name="token" value="{$smarty.session.token}">

<table style="width:100%;"><!-- cellpadding="3" cellspacing="1" -->

{section name=mysec loop=$campos2}{strip}

{if $campos2[mysec].nombre != ""}

	<tr style='background:#F3F5F7'>

	<td style="width:40%;">

		{$campos2[mysec].nombre}

	</td>

	<td>

		{$campos2[mysec].input}

	</td>

	</tr>

{else}

	{$campos2[mysec].input}

{/if}

{/strip}{/section}



{if $campos != ""}

	<tr>

	<td style="background-position:center;text-aling:center" colspan="2">

		<input type="submit" value="Recordar mis datos" class="tpl_boton" />

	</td>

	</tr>

{/if}

</table>

</form>





<div><br>{$c_formulario_titulo}<br></div>



<form method="POST" action="{$c_action}" target="_self">
<input type="hidden" name="token" value="{$smarty.session.token}">
<table style="width:100%;"><!-- cellpadding="3" cellspacing="1" -->

{section name=mysec loop=$campos}{strip}

{if $campos[mysec].nombre != ""}

{if $campos[mysec].input != ""}

	<tr style="background:{cycle values='#F3F5F7,#fff'}">

	<td style="width:40%;">

		{$campos[mysec].nombre}

	</td>

	<td>

		{$campos[mysec].input}

	</td>

	</tr>

{else}

	<tr><th colspan="2">{$campos[mysec].nombre}</th></tr>

{/if}

{else}

		{$campos[mysec].input}

{/if}

{/strip}

{/section}



{if $campos != ""}
   <tr>
				<td colspan="2">
					<div class="titulo_formulario"></div>
					<div class="lb_formulario_centro">
						<label for="hash">Confirme el codigo: </label><input type="text" name="hash" id="hash" />
					</div>
					<div style="text-align:center">
						<img src="tools/captcha.php" alt="Esto nos ayuda a prevenir los registros automatizados."/>
					</div>
				</td> 
    </tr>
	<tr>

	<td style="text-aling:center;background-position:center" colspan="2">

		<input type="submit" value="Crear mi Cuenta" class="tpl_boton" />

	</td>

	</tr>

{/if}

</table>

</form>

<br><br>





</div>

<!--Fin Template Formulario de Registro-->



