<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
	<title>{$smarty.const._NOMBRESITIO}</title>
</head>
<body>
	<strong>POR FAVOR NO RESPONDA ESTE MAIL.</strong><br />
	<br />
	La solicitud que hizo en el sistema de Atenci&oacute;n al Ciudadano del
	<strong>Ej&eacute;rcito Nacional de Colombia</strong> ya ha sido resuelta, <br />
	puede consultar la respuesta haciendo <a href="{$smarty.const._URL}?idcategoria={$smarty.const._INICIO_PQR}&ver_solicitudes=1&consulta_hash={$hash}">click en este v&iacute;nculo</a>
</body>
</html>
