/*@font-face{
font-family:"AbadiMTCondensed";
src: url("../fonts/AbadiMTCondensed.eot#" format('embedded-opentype'); );
}*/


@font-face {font-family:"AbadiMTCondensed";src: url("../fonts/AbadiMTCondensed.ttf") format("truetype");}
@font-face {font-family:"AbadiMTCondensed";font-weight:bold;src: url("../fonts/AbadiMTCondensed.ttf") format("truetype");}

@font-face {font-family:"AgencyFB";src: url("../fonts/AGENCY FB_0.TTF") format("truetype");}
@font-face {font-family:"AgencyFB"; font-weight:bolder;src: url("../fonts/AGENCY FB_0.TTF") format("truetype");}


/*@font-face {
    font-family: 'AgencyFBRegular';
    src: url('agency_fb_0-webfont.eot');
    src: url('agency_fb_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('agency_fb_0-webfont.woff') format('woff'),
         url('agency_fb_0-webfont.ttf') format('truetype'),
         url('agency_fb_0-webfont.svg#AgencyFBRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}*/


#tweet{font-size: 11px !important; font-weight: normal !important; position:relative; top:0px !important;}
#tweet h3{background:transparent; font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif !important; height:12px;}

* {margin:0;padding:0;}
html,body{text-align:center;background: #000 url(../images/bg.jpg) repeat-x left top;color:#000;font:1em Arial, Helvetica, sans-serif;min-width:1024px;}
body{float:left;width:100%;}
body a img{border:0;}
.secondaryBody{float:left;width:100%;}
/*** h1: Titulo del Sitio ***/
h1, h2, hr, .saltarnavegacion, .findelista, .vermasComplemento, .elementoImprimible {display:none;}
ul, ol{list-style-type:none;}
map span{display:none;}

/*** contenedor de todos los componentes de la página ***/
#contenedor{width:1024px;margin:0 auto;text-align:left;}
/*** cabezote:cabezote de la pagina ***/
#cabezote {float:left;width:100%; background:#0A0A06;}

/*** herramientas: Listado de Utilidades de la página ***/
#cabezote map p{font-family:"AbadiMTCondensed","Trebuchet MS", Arial, Helvetica, sans-serif;font-size:0.9em;float:right;padding:2px 0 3px 0px;width:auto;}
#cabezote map a{display:block;padding:0 0.7em 0 1.1em;/*line-height:1.7em;*//*background:url(../images/bullet_1.gif) no-repeat left;*/text-decoration:none;color:#fff;float:left;}
#cabezote .menu_util2 map a{display:block;padding:0 0.7em 0 1.1em;/*line-height:1.7em;*//*background:url(../images/bullet_1.gif) no-repeat left;*/text-decoration:none;color:#000;float:left;}
#cabezote map a.seleccionado{color:#fff}
#cabezote .menu_util2 map a.seleccionado{color:#000}
#cabezote a:hover{text-decoration:underline;}
#cabezote map .inicio{background:none;}
#cabezote .findelista{display:none;}

#cabezote .hijos{float:right;margin:0;padding:0	}
#cabezote .hijos span{color:#293640;font-size:0.7em;font-weight:bold;vertical-align:middle;}
#cabezote .hijos select{color:#293640;font-size:0.7em;vertical-align:top}
/* html #cabezote .hijos select{color:#293640;vertical-align:top;fon-size:0.8em}*/


#cabezote .logo{float:left; width:auto;}
#cabezote .logo img{margin:0 0 0 0;float:left;}

#banner{float:left;width:100%;height:520px;background:url(../images/cabezote/banner/cabezote.jpg) no-repeat top center}
#banner2{float:none;width:100%;height:161px;background:url(../images/cabezote/banner/cabezote2.jpg) no-repeat top center}

.tools-aux{float:left;width:100%;background:#A10100 url(../images/back_1.gif) repeat-y left top}
.tools-aux-2{float:left;width:100%;background:url(../images/back_2.png) no-repeat left top}
.tools-aux-3{float:left;width:100%;background:url(../images/back_2.gif) no-repeat left bottom}

.tools-aux-3 div{float:left;padding:9px 0 0 16px}
.tools-aux .h2Actualizado{font-size:0.7em;font-weight:normal;color:#fff;float:left;display:block;}
.tools-aux-3 div p{float:left;font-size:0.7em;color:#fff;}


	



#cabezote .tools-aux-3 map p{float:right;width:auto;padding:2px 0 0 0;font-weight:normal;}
#cabezote .tools-aux-3 map a{line-height:2.8em;padding:0 12px 0 0;color:#fff}

#cabezote .tools-aux-3 .imagen{background:url(../images/bullet_imagen.gif) no-repeat left top;padding-left:49px}
#cabezote .tools-aux-3 .video{background:url(../images/bullet_video.gif) no-repeat left top;padding-left:41px}
#cabezote .tools-aux-3 .audio{background:url(../images/bullet_audio.gif) no-repeat left top;padding:0 22px 0 41px}

/*** navegacion_datos:contenedor del panel izquierdo y los datos (cuerpo_contenido) ***/
#navegacion_datos{float:left;width:1024px;/*border:1px solid #a5b2bb;*/border-top:none;border-bottom:none;/*padding:5px 7px 0 8px;*/background:#fff}

/*** Todo el panel lateral izquierda ***/
#navegacion_principal{width:100%;background:#b50606;}

#navegacion_principal h2{width:100%;padding:4px 0 5px 0;display:block;font-size:0.8em;color:#f00;text-align:left;}
#navegacion_principal h2 span{display:none;}
#navegacion_principal h2 a{color:#f00;}
#navegacion_principal .h2Ocultar{display:none}

/**** Buscador ***/
#navegacion_principal .buscador {float:right;width:auto;vertical-align:middle;}
#navegacion_principal .buscador form{float:left; width:177px; margin:10px auto;padding:2px 0 2px 3px;background: url("../images/buscador.png") no-repeat left center transparent; vertical-align:middle;}
#navegacion_principal .buscador .texto{height:/*1.3em*/18px;width:142px; font-family:"AgencyFB","Trebuchet MS", Arial, Helvetica, sans-serif;font-size:0.80em;;color:#fff;background:transparent; border:none; margin:0 3px 0 0;padding:3px 2px 0 2px;vertical-align:middle; font-weight:900;}
#navegacion_principal .boton{vertical-align:middle;background:transparent;color:#fff; float:right; margin-right:3px;}
/*** Fin Buscador ***/

/*** Menu Institucional ***/
#navegacion_principal .menu {font-size:0.9em;font-weight:bold;width:100%;border:1px solid #fff;border-top:none;border-bottom:none;height:35px;}
#navegacion_principal .menu li {display:inline}
#navegacion_principal .menu li a{border-right:1px solid #fff}
#navegacion_principal .menu li ol{display:none;margin:0;padding:0;top:0;left:0}/*Atributo Inicial para Subcategorias*/
#navegacion_principal .menu li table {border-collapse:collapse;border:0; margin:0; padding:0;position:relative;left:0; top:0;}/*Atributos para Tabla que contiene Subcategorias version IE6*/
#navegacion_principal .menu li:hover {position:relative; z-index:90;}/*Atributos para visualizar Subcategorias*/
#navegacion_principal .menu li:hover a,
#navegacion_principal .menu li a:hover{position:absolute;}/*Atributos para nombre de Categoria cuando el cursor esta sobre el mismo versiones nuevas e IE6 respectivamente*/
#navegacion_principal .menu li:hover .seleccionado,
#navegacion_principal .menu li .seleccionado:hover{position:absolute;text-decoration:none;color:#fff}/*Atributos para nombre de Categoria cuando el cursor esta sobre el mismo versiones nuevas e IE6 respectivamente*/
#navegacion_principal .menu li:hover ol,
#navegacion_principal .menu li a:hover ol{display:block;position: relative;color:#fff;;border:4px solid #fff;background:#A01C15/*#63813A*/;padding:5px;margin:0;left:0px;top:40px;font:0.9em Arial;list-style:none;width:162px}/*Visualiza grupo de Subcategorias al colocar el cursor sobre la Categoria versiones nuevas e IE6 respectivamente*/
* html #navegacion_principal .menu li a:hover ol{left:3px;}
#navegacion_principal .menu li:hover ol li,
#navegacion_principal .menu li a:hover ol li{height:auto;width:100%;padding:0;margin:0;background:/*#A01C15*/transparent;}
#navegacion_principal .menu li:hover ol li a,
#navegacion_principal .menu li a:hover ol li a{height: auto;background: url(../images/bullet_subcategorias.gif) no-repeat left 5px;line-height:normal;width:147px;padding:0 5px 10px 10px;margin:0;text-align: left;}/*Atributos Iniciales para nombre de Subcategoria versiones nuevas e IE6 respectivamente*/
#navegacion_principal .menu li:hover ol li:hover a,
#navegacion_principal .menu li a:hover ol li a:hover {text-decoration:underline;color:#fff}/*Atributos para nombre de Subcategoria cuando el cursor esta sobre el mismo versiones nuevas e IE6 respectivamente*/
/***Fin Menu Institucional ***/

.menu li{width:auto;background:url(../images/back_) no-repeat left bottom;display:inline}
.menu .liLast{margin:0;border-bottom:none;}
.menu a {float:left;padding:10px 0 0px 15px;color:#fff;text-decoration:none}
.menu a:hover {text-decoration:underline;color:#fff;}

.menu .seleccionado {color:#FF0000}
.menu .seleccionado:hover {text-decoration:none;}

.menu ol {font-weight:normal;font-size:1em;float:left;width:100%;padding:0 0 0px;margin:0 0 10px 0;}
.menu ol li{width:144px;padding:0 0 0 4px;margin:0}
.menu ol a{width:136px;padding:2px 0 5px 8px;background:url(../images/bullet_7.gif) no-repeat left 7px;}
.menu ol li a:link{color:#293640;background-color:transparent;}
.menu ol li a:visited{background:url(../images/bullet_8.gif) no-repeat left 7px;}
.menu ol li a:hover{color:#293640}
.menu ol li a:active{}
/***/

/*Menu usuario*/
#menu_usuario .menu{background:#ccc}
#menu_usuario li a{color:#000;font-size:0.8em;padding:5px 10px 0 0}

/***************/


/*****************MENU DESPLEGABLE********************/
.preload2 {background: #CC0B1C}
.menu2 {padding:0; margin:0;  list-style:none; height:50px; background:#A10100; /*url(../images/back_2.png) no-repeat left top;*/position:relative; font-family:"AgencyFB","Trebuchet MS", Arial, Helvetica, sans-serif; font-size:20px; font-weight:bolder;}
.menu2 li.top {display:block; float:left; position:relative; height:50px;}
.menu2 li a.top_link {display:block; float:left; border-right:1px solid #000000; height:50px; margin-left:6px; line-height:50px; color:#fff; text-decoration:none; font-size:0.8em; font-weight:bold; padding:0 5px 0 6px; cursor:pointer;}
.menu2 li a.top_link span {float:left; display:block; padding:0 10px 0 6px; height:40px;}
.menu2 li a.top_link span.down {float:left; display:block; padding:0 10px 0 6px; height:50px;/*background:url(prodrop2/down.gif) no-repeat right top;*/}
.menu2 li a.top_link:hover {color:#fff;  background:#CC0B1C}
.menu2 li a.top_link:hover span { background:#CC0B1C}
.menu2 li a.top_link:hover span.down { background:#CC0B1C}

.menu2 li:hover > a.top_link {color:#fff; #CC0B1C}
.menu2 li:hover > a.top_link span {background:#CC0B1C;}
.menu2 li:hover > a.top_link span.down {background:#CC0B1C;}


.menu2 table {border-collapse:collapse; width:0; height:0; position:absolute; top:0; left:0;}

/* Default link styling */

/* Style the list OR link hover. Depends on which browser is used */
.menu2 a:hover {visibility:visible;}
.menu2 li:hover {position:relative; z-index:200;}

/* keep the 'next' level invisible by placing it off screen. */
.menu2 ul, 
.menu2 :hover ul ul, 
.menu2 :hover ul :hover ul ul,
.menu2 :hover ul :hover ul :hover ul ul,
.menu2 :hover ul :hover ul :hover ul :hover ul ul {position:absolute; left:-9999px; top:-9999px; width:0; height:0; margin:0; padding:0; list-style:none;}

.menu2 :hover ul.sub { font-family:"AbadiMTCondensed","Trebuchet MS", Arial, Helvetica, sans-serif;left:6px; top:50px; background: #980202; padding:0; /*border:1px solid #1E8BB5; white-space:nowrap;*/ width:auto; height:auto;}
.menu2 :hover ul.sub li {display:block; /*height:20px; */position:relative; float:left; width:160px; border-bottom:1px solid #000; border-left:1px solid #000; border-right:1px solid #000; margin-bottom:0;/*#B80D1B*/}
.menu2 :hover ul.sub li a {display:block; height:auto; font-size:14px; padding:4px 3px; line-height:1; color:#fff; text-decoration:none;}
.menu2 :hover ul.sub li a.fly {background:#fff  url(http://www.luisangelcamargo.com/wp-content/uploads/2007/12/vineta_menu.gif) no-repeat 150px 6px;}
.menu2 :hover ul.sub li a:hover {background:#C40000; color:#CCC;}
.menu2 :hover ul.sub li a.fly:hover {background:#E5FAFC url(http://www.luisangelcamargo.com/wp-content/uploads/2007/12/vineta_menu.gif) no-repeat 150px 6px;}
.menu2 :hover ul li:hover > a.fly {background:#E5FAFC} 

.menu2 :hover ul :hover ul,
.menu2 :hover ul :hover ul :hover ul,
.menu2 :hover ul :hover ul :hover ul :hover ul,
.menu2 :hover ul :hover ul :hover ul :hover ul :hover ul
{left:160px; top:-1px; background: #fff; padding:0; /* white-space:nowrap; */width:auto; z-index:300; height:auto;}
.menu2 :hover ul.sub li ul {border-top:1px solid #005FB9; background: #fff; z-index:300;}
/*****************FIN MENU DESPLEGABLE*******************/



/*** Menu usuario ***/
.menuUsuario p{float:left;width:181px;border:1px solid #fff;border-top:none;border-bottom:none;background:#FEFEFE;color:#f00;font-size:0.8em;font-weight:bold;padding:5px 10px 5px 9px;}
.menuUsuario p span{display:inline;background:transparent;color:#f00;font-weight:normal;}
.menuUsuario .verPagina{color:#c00;}
/** Fin Menu Usuario **/

.nav-aux-1{float:right;width:204px;background:#E2E2E2 url(../images/back_4.png) repeat-x left top;margin:23px 2px 0 3px}
.nav-aux-2{float:right;width:204px;background:url(../images/back_3.gif) repeat-y left top;}
.nav-aux-3{float:right;width:204px;background:url(../images/back_4.gif) no-repeat left top;}
.nav-aux-4{float:right;width:204px;line-height:1;padding:0 10px 0 9px;background:url(../images/back_5.gif) no-repeat left bottom;}
.seccion-2 .cuadrito{background: url(../images/back_7.gif) no-repeat;width:26px;height:28px;float:left;text-align:center}
.seccion-2 .eventos{margin:5px 0 0 0}
.seccion-2 .mes{color:#FF0000;font-weight:bold;font-size:0.8em}
.seccion-2 .evento{color:#293640;font-weight:bold;font-size:0.9em; position: relative; top: -3px;}
.seccion-2 .titulo_link{float:left;width:112px;margin:0 0 0 10px}
.seccion-2 .titulo_link a{color:#293640;text-decoration:none}
.seccion-2 .titulo_link a:hover{text-decoration:underline}
.nav-aux-4 .padre{color:#FC0000;font-size:1.2em;font-weight:bold}
.nav-aux-4 .titulo a{color:#293640;font-size:1.0em;font-weight:bold;text-decoration:none;padding:5px 0 0 0}

#mycarousel2{width:285px}
/***Botones Destacados**/
#navegacion_principal .nav_recomendados p{float:left;width:100%;padding:0 0 6px 0}
#navegacion_principal .nav_recomendados span{display:none;}
.nav_recomendados a{float:left;margin:0 0 4px 0;}
.nav_recomendados img{float:left;background:transparent}

/*** Seccion 1 ***/
#navegacion_principal .nav-aux-1 .seccion-1 h2,
#navegacion_principal .nav-aux-1 .seccion-2 h2{padding-bottom:7px}
.nav-aux-1 .seccion-1 ul,
.nav-aux-1 .seccion-2 ul{float:left;width:190px;font-size:0.75em;padding:5px 0 0 0}
.nav-aux-1 .seccion-1 li,
.nav-aux-1 .seccion-2 li{float:left;width:100%;margin:0 0 7px 0}
.nav-aux-1 .seccion-1 li div{float:left;background:url(../images/back_7.gif) no-repeat left top;width:26px;height:24px;text-align:center;padding:4px 0 0 0;margin:0 8px 0 0}
.nav-aux-1 .seccion-1 li span{display:block;font-weight:bold;color:#293640;line-height:0.9em;font-size:1.15em;}
.nav-aux-1 .seccion-1 li .mes{color:#f00;font-size:0.95em;}
.nav-aux-1 .seccion-1 a{text-decoration:none;color:#293640}
.nav-aux-1 .seccion-1 a:hover{text-decoration:underline}
.seccion-2 .homeSubLista .vermas,
.yui-content .homeSubLista .vermas,
.nav-aux-1 .seccion-1 .vermas,
.nav-aux-1 .seccion-2 .vermas{color:#f00;text-decoration:underline;font-size:0.75em;text-align:right;display:block;margin:0 0 12px 0;width:auto}
.nav-aux-1 .seccion-2 .vermas1{color:#f00;text-decoration:underline;font-size:0.75em;text-align:right;display:block;margin:0 0 12px 0;width:180px}
.seccion-2 .homeSubLista .vermas,
.yui-content .homeSubLista .vermas{margin:12px 0 0 0}
.nav-aux-1 .seccion-1 .vermas:hover,
.nav-aux-1 .seccion-2 .vermas:hover{text-decoration:none;}

/*** Seccion 2 ***/
.nav-aux-1 .seccion-2 h3{font-size:1em;margin:0 0 5px 0}
.nav-aux-1 .seccion-2 h3 a{text-decoration:none;color:#293640}
.nav-aux-1 .seccion-2 h3 a:hover{text-decoration:underline}
.nav-aux-1 .seccion-2 li .imgSeccion-2{float:left;margin:0 8px 0 0}
.nav-aux-1 .seccion-2 li img{float:left;}
.nav-aux-1 .seccion-2 li p{color:#293640;width:auto;padding:0 30px 0 0}
/*** FIN Todo el panel lateral izquierda ***/

/*** Home ***/
#datos{margin:0 0 0 0; width:100%;}
#cuerpo_contenido{width:1024px;}

/*** Home ***/
.home{float:left;width:1024px; background:#FFF;}

.home .mainHome{float:left;width:695px;}

/*** Seccion 1 ***/
.mainHome .seccion-1{float:left;width:459px;}
.home .seccion-1 li{float:left;width:100%;}
.home h3{float:left;width:100%;padding:0 0 0 0;margin:0 0 0 0;font-size:20px;background:url(../images/h3.jpg) repeat-x left bottom; color:#FFF; text-align:center; height:40px;font-weight:bolder; font-family:"AgencyFB","Trebuchet MS", Arial, Helvetica, sans-serif;}
.home #izq h3, .home #centro h3{float:left;width:100%;padding:0 0 0 0;margin:0 0 0 0;font-size:20px;background:url(../images/h2.jpg) repeat-x left top; color:#FFF; text-align:center; height:26px; font-weight:bolder;font-family:"AgencyFB","Trebuchet MS", Arial, Helvetica, sans-serif;}
.home h3 span, .home h3 a {padding:0 5px;display:block;text-decoration:none;color:#293640;background:transparent; color:#FFF;}
.home h3 a:hover {text-decoration:underline}
.home .seccion-1 .homeSubLista{float:left;width:459px;padding:0 0px 0 0px;}
.seccion-1 .homeSubLista li{margin:0 4px 0px 10px;float:right;width:224px;}
.seccion-1 .homeSubLista li .sublista-aux-1{float:left;width:100%;margin:26px 0 0 0}
.seccion-1 .homeSubLista .liFirst .sublista-aux-1{margin:8px 0 0 0}
.seccion-1 .homeSubLista li .sublista-aux-2{float:left;width:100%;position:relative;height:397px}
.seccion-1 .homeSubLista .sectionLast .sublista-aux-1{margin:0}
.home .seccion-1 h4 {font-size:0.75em;font-weight:normal;float:left;margin:0 0 /*7*/0px}
.home .seccion-1 h4 a {color:#293640;text-decoration:none;display:block;background:url(../images/bullet_3.gif) no-repeat left 5px;padding:0 0 0 7px;}
.home .seccion-1 h4 a:hover {text-decoration:underline;}
.home .seccion-1 h4 span{color:#293640}
.home .seccion-1 h4 .conFecha{font-size:0.9em;padding:0 0 0 6em;}
.seccion-1 .homeSubLista .intro{float:left;width:100%;margin:2px 0 0 0}
.seccion-1 .homeSubLista p{font-size:0.75em;color:#666;margin:0 0 0 7px}
.home .seccion-1 .homeFecha{color:#293640;float:left;font-weight:bold;position:absolute;left:0;top:0;}

/*Esto controla las noticias laterales despues del fotonoticia*/
.home .seccion-nueva{width:100%;font-size:0.8em;padding:0px 0 0 0;}
.home .seccion-nueva li{list-style:none;margin:20px 0 0 0;}
.home .seccion-nueva img{float: left; margin: 0 5px 0 0;}
.home .seccion-nueva span .fecha{color:#293640;text-decoration:none;font-weight:bold}
.home .seccion-nueva span a{color:#293640;text-decoration:none}
.home .seccion-nueva span a:hover{text-decoration:underline}

/*** Fotonoticia ***/
.seccion-1 .homeSubLista .sectionFirst{background:url(../images/back_9.gif) repeat-y left top;margin:0;width:459px;float:left}
.seccion-1 .homeSubLista .sectionFirst .sublista-aux-1{float:left;width:459px;background:url(../images/back_10.gif) no-repeat left top;margin:0;}
.seccion-1 .homeSubLista .sectionFirst .sublista-aux-2{float:left;width:427px;padding:17px 17px 13px 15px;background:url(../images/back_11.gif) no-repeat left bottom;}
.seccion-1 .sectionFirst #imagen_foto_noticia{width:410px;padding:0 0 0 0px;text-align:center;height: 275px;}
.seccion-1 .sectionFirst #titular_foto_noticia{width:410px;height: 30px; font-size: 16px;}
.seccion-1 .sectionFirst #resumen_foto_noticia{text-align:justify;width:427px;height: 80px;font-size: 16px;}
.seccion-1 .sectionFirst .paginadorFoto{height: 25px;}
.seccion-1 .sectionFirst .aImg{text-align:center;display:block;}
.seccion-1 .sectionFirst img{line-height:0;margin:0 0 9px 0;}
.home .seccion-1 .sectionFirst h4 {font-size:0.75em;font-weight:bold;width:100%;text-align:center}
.home .seccion-1 .sectionFirst h4 a {color:#a10100;background:none;padding:0;}
.seccion-1 .homeSubLista .sectionFirst .intro{margin:5px 0 0 0;width:400px}
.seccion-1 .homeSubLista .sectionFirst p{font-size:0.75em;float:left;width:100%;text-align:center;margin:0;}
.seccion-1 .sectionFirst #resumen_foto_noticia p{text-align:left;}
.seccion-1 p input{}

.seccion-1 .paginadorFoto{float:left;width:100%;text-align:center}
.seccion-1 .sectionFirst table{border-collapse:collapse;text-align:center;font-size:0.7em;margin:0 auto;}
.seccion-1 .sectionFirst table td{}
/*fprieto, paginador del fotonoticia*/
.seccion-1 .homeSubLista .paginas{background:url(../images/boton.gif) repeat-x left top;//background:url(../images/boton.gif) repeat-x;//font-size:1em;}
.seccion-1 .homeSubLista .paginas_2 a{color:#fff;text-decoration:none;cursor:pointer}
/*fin fprieto*/


/** Seccion 2**/
.home .aux-seccion-2{float:left;width:100%;padding-bottom:3px}
.home .yui-skin-sam{float:left;width:482px;margin:17px 0 0 0;padding:0 0 0 1px;background:url(../images/back_12.gif) repeat-y right top}
.home .seccion-2{float:left;width:100%;margin:0;padding:0;line-height:1em;padding:0 0 0 10px}
.home .yui-navset{float:left;width:100%;}
.home .yui-nav{float:left;width:477px}
.home .yui-content{float:left;width:475px;padding:0 4px 0 3px;}
.home .seccion-2 li{float:left;width:190px}
.home .seccion-2 .liSeccion2First{background:url(../images/back_21.gif) no-repeat left top;}
.home .seccion-2 li .homeSubLista li{float:left;width:100%;padding:0;background:none}

.home .seccion-2 h3{float:left;width:100%;margin:3px 0 0 0;padding:15px 0 10px 0;font-size:0.75em;background:#fff url(../images/back_13.gif) no-repeat right bottom;line-height:1em;}
.home .seccion-2 .liSeccion2First h3{margin:0;padding-top:0}
.home .seccion-2 h3 a{display:block;text-decoration:none;background:url(../images/back_8.gif) repeat-x left bottom;padding:0 5px 4px 5px}
.home .seccion-2 h3 a:hover{text-decoration:underline}
.home .seccion-2 h3 a span{color:#293640}

.home .yui-skin-sam .homeSubLista{padding:17px 16px 20px 20px;float:left;width:439px;background:url(../images/back_15.gif) repeat-x left bottom;line-height:0.95em}

.seccion-2 .homeSubLista li,
.yui-content .homeSubLista li{float:left;width:100%;margin:0 0 11px 0;}
.seccion-2 .homeSubLista .liResumenLast,
.yui-content .homeSubLista .liResumenLast{margin:0;}
.home .seccion-2 img,
.home .yui-content img{margin:0px 21px 0px 0px;line-height:0;float:left}
.home .seccion-2 h4,
.home .yui-content h4 {font-size:0.75em;font-weight:normal;margin:0 0 7px}
.home .seccion-2 h4 a,
.home .yui-content h4 a {color:#293640;text-decoration:underline;display:block;}
.home .seccion-2 h4 a:hover,
.home .yui-content h4 a:hover {text-decoration:none;}
.home .seccion-2 h4 a span,
.home .yui-content h4 a span{background:url(../images/bullet_3.gif) no-repeat left;padding:0 0 0 7px;color:#293640;}
.seccion-2 .homeSubLista p,
.yui-content .homeSubLista p{font-size:0.75em;color:#666;}
.home .seccion-2 .homeFecha,
.home .yui-content .homeFecha{color:#293640;float:left;}

/*** Categorias sin resumen **/
.home .seccion-2 .liSinResumen,
.home .yui-content .liSinResumen{margin:2px 0 0 0;}
.home .seccion-2 .liSinResumenFirst,
.home .yui-content .liSinResumenFirst{margin-top:16px;}
.seccion-2 .liSinResumen h4,
.yui-content .liSinResumen h4{font-size:0.75em;font-weight:normal;float:left;margin:0 5px 0 0}
.seccion-2 .liSinResumen h4 a,
.yui-content .liSinResumen h4 a{color:#293640;text-decoration:underline;background:url(../images/bullet_3.gif) no-repeat left;padding:0 0 0 7px;}
.seccion-2 .liSinResumen h4 a:hover,
.yui-content .liSinResumen h4 a:hover{text-decoration:none;}
.seccion-2 .liSinResumen p,
.yui-content .liSinResumen p{font-size:0.75em;font-weight:bold;color:#666}

/*** Seccion 3 ***/
.seccion-3{float:none;width:1024px;margin:0 50px 0 50px;}
.home .seccion-3 h3{margin:0 0 13px 0;}
.seccion-3 .homeSubLista li{float:left;width:auto;margin:15px auto 15px;}
.seccion-3 .homeSubLista .sectionLast{margin:15px auto 15px;}
.seccion-3 ol .aImg{float:none;margin:0 0 6px 0;}
.seccion-3 ol img{float:none;}
.seccion-3 ol h4{font-size:0.75em;font-weight:normal;}
.seccion-3 ol h4 a{color:#293640;display:block;float:left;width:180px;padding:0;text-decoration:underline;min-height:32px;margin:0 0 4px 0;}
.seccion-3 ol h4 a:hover{text-decoration:none;}
* html .seccion-3 ol h4 a{height:32px;}
.seccion-3 ol p{font-size:0.75em;margin:0;color:#999;padding:0;clear:both;text-align:right;line-height:1em;width:180px;}

/* secondaryHome */
.home .secondaryHome{float:right;width:284px;background:#fff;}
.home .secondaryHome .seccion_1{float:left;width:100%;padding:0 0 0 0;list-style:none;display:block}
.home .secondaryHome .seccion_1 #carroimg{float:left;width:100%;}
.home .secondaryHome .seccion_1 ol li{float:left;}
.home .secondaryHome .seccion_1 img{float:left;background:url(../images/back_5.png) no-repeat left top;padding:9px 8px 16px 8px;}
.home .secondaryHome .seccion_2{float:left;width:100%;margin:10px 0 0 0}
.home .secondaryHome .televisor{text-align:center;}
.home .secondaryHome .televisor h3{text-align:left;}
.home .secondaryHome .seccion_2 table{width:100%;float:left;border-collapse:collapse;}
.home .secondaryHome .seccion_2 td{vertical-align:top;padding:5px;width:50%}
.home .secondaryHome .seccion_2 ul{list-style:none;display:block;font-size:0.8em;font-weight:bold}
.home .secondaryHome .seccion_2 a{text-decoration:none;color:#5F7585}
.home .secondaryHome .seccion_2 a:hover{text-decoration:underline;color:#5F7585}
.home .secondaryHome .seccion_2 a span{text-decoration:none;color:#A10100}
.home .secondaryHome .seccion_2 h3 span,
.home .secondaryHome .seccion_2 h3 a{color:#293640}
.home .secondaryHome .seccion_2 h3 a:hover{color:#293640}
.home .secondaryHome .seccion_3{float:left;width:100%;margin:10px 0 0 0}
.home .secondaryHome .seccion_3 ul{list-style:none;display:block;font-size:0.8em;font-weight:bold;padding:0 0 0 8px}
.home .secondaryHome .seccion_3 ul li{text-align:justify;float:left;width:100%;margin:0 0 5px 0}
.home .secondaryHome .seccion_3 a{text-decoration:none;color:#5F7585}
.home .secondaryHome .seccion_3 a:hover{text-decoration:underline;color:#5F7585}
.home .secondaryHome .seccion_3 a span{text-decoration:none;color:#A10100}
.home .secondaryHome .seccion_3 h3 a{color:#293640}
.home .secondaryHome .seccion_3 h3 a:hover{color:#293640}
.home .secondaryHome .seccion_4{float:left;width:100%;margin:10px 0 0 0;}
.home .secondaryHome .seccion_4 img{margin:0 0 0 5px}

.home .secondaryHome .yui-skin-sam{width:100%;margin:13px 0 0 0;background:none}
.home .secondaryHome .yui-skin-sam-first{margin:0}
.home .secondaryHome .aux-seccion-2{background:url(../images/back_17.gif) no-repeat right bottom;}
.home .secondaryHome .aux-seccion-2 .yui-skin-sam{width:282px;padding:0 0 0 2px;background:url(../images/back_14.gif) repeat-y right top}
.home .secondaryHome .seccion-2{float:left;width:100%;background:/*#F2F2F2*//*#ff4*/;margin:0;padding:0;line-height:0em}
.home .secondaryHome .yui-navset{float:left;width:100%;}
.home .secondaryHome .yui-nav{float:left;width:278px}
.home .secondaryHome .yui-content{float:left;width:274px;padding:0 4px 0 4px;}
.home .secondaryHome .seccion-2 li{float:left;width:100%;background:url(../images/back_17.gif) no-repeat right top;}
.home .secondaryHome .seccion-2 .liSeccion2First{background:none;}
.home .secondaryHome .seccion-2 li .homeSubLista li{float:left;width:100%;padding:0;background:none}
.home .secondaryHome .seccion-2 h3{background:#fff url(../images/back_18.gif) no-repeat right bottom;}
.home .secondaryHome .yui-skin-sam .homeSubLista{padding:17px 16px 20px 20px;float:left;width:238px;background:url(../images/back_15.gif) repeat-x left bottom;line-height:0.95em}

/****Encuesta ****/
.yui-content .encuestaHome h4{font-size:0.8em;font-weight:bold}
.yui-content .encuestaHome h4 a{text-decoration:none;color:#293640;background:transparent;}
.yui-content .encuestaHome h4 a:hover{text-decoration:underline;}
.encuestaHome p{margin:10px 0 0 0;color:#333;font-size:0.8em}
.encuestaHome {padding:0 0 0 12px;color:#957700;text-align:left;font-size:0.8em}
.encuestaHome form input{width:auto;}
.encuestaHome input.radio{float:left;margin-right:0.5em;}
.encuestaHome .vote{text-align:right;}
.encuestaHome .vote input{text-align:center;font-size:0.8em;color:#fff;width:59px;height:14px;border:0;background:#000 url(../images/button_votar.gif) no-repeat left top;}
/* Fin secondaryHome */
/*** Fin de Home ***/

/*** Home Generico ***/
.home .homeEntradilla{/*float:left;width:100%;*/margin:10px 0 10px 0;color:#000;background:transparent;margin:0;font-size:0.8em;padding:20px 26px 0 26px;}
/*** Fin de Home ***/

/*** Pie de Página ***/
#footer{margin:0;padding:0;float:left;width:1024px;color:#fff}

#footer .aux-destacados-1{float:left;width:1024px; padding:2px 0 2px 0; position: relative; left: 0px; background:#FFF;}

#footer .fi-aux-1{float:left;width:1020px;border-top:1px solid #A5B2BB;margin:0 0 0 0;padding:0 2px 2px 2px;background:#fff; position: relative;}
#footer .fi-aux-2{float:left;width:1020px;padding:2px 0 2px 0;}

#footer map p{float:left;width:100%;text-align:center}
#footer map p.ni-aux-1{}
#footer map p.ni-aux-1 a{padding:0 0 0 0}
#footer map p.ni-aux-2{}
#footer map p.ni-aux-2 a{padding:0 0% 0 0}
#footer map p a.btnLast{padding:0;}
#footer map a{/*width:19.9%;display:block;float:left;*/text-align:left;}
#footer map img{/*float:left;*/}

#footer .nav_destacados p{padding:0;width:100%;}
#footer .nav_destacados p.ni-aux-1 a{padding:0 0 0 0}
#footer .nav_destacados p a.btnLast{padding:0;}

.f-aux-4{float:left;width:1024px;padding:25px 0 10px 0; background:#FFF; border-top:#A5B2BB 1px solid;}
#footer ul{font-size:0.75em;}
#footer li, #footer a, #footer span, #footer abbr{color:#666666;background:transparent;}

#info_entidad{padding:0;text-align:center;float:left;width:100%;;}
#info_entidad li{display:inline;}
#info_entidad .displayBlock{display:block;}
#info_entidad .nombre_sitio{text-transform:uppercase;font-weight:bold;display:block;}
#info_entidad .rss img{width:80px;height:15px;margin:5px 0 0 0}

#info_micrositios{margin:0 60px 0 542px;padding:14px 50px 0 0;text-align:right;}
#info_micrositios .img_micrositios{display:none;}
#info_micrositios .img_micrositios img{width:83px;height:25px;background:#fff;}
/*** Fin Pie de Página ***/

/*** Estilos para el Template Default ***/
#default{margin:20px 0 0;padding:0 10px 20px;float:left;width:960px;}
#default h4{display:none;}

#dEncabezados{float:left;width:960px;padding:0 0 4px 0;}
#default .dAntetitulo{color:#5F7585;padding:0 5px;margin:0 0 5px 0;font-size:0.85em;font-weight:bold;} /**Antetítulo**/
#default h3{color:#293640;background:url(../images/back_8.gif) repeat-x left bottom;margin:0;padding:0 5px 4px;font-size:1.2em;font-weight:bold;} /**Título**/
#default .dSubtitulo{color:#293640;background:transparent;padding:2px 5px 0;font-size:0.9em} /**Subtítulo**/
#default .default-aux-1{padding:0 23px 0 15px;margin:/*15px*/0 0 0 0;float:left;width:920px;}

#default .fecha{color:#666;font-size:0.75em;text-align:right;float:left;width:/*682px*/100%;margin:5px 0 0 0;/*padding:0 23px 0 0*/}

#default_entradilla{width:100%;float:left;margin:15px 0 0 0;}
#default_entradilla .pie_foto{color:#ccc;font-size:0.7em}
#default .imgDefault{padding:0;margin:0;float:none}
#default .ampliar{font-size:0.8em;color:#A10100}

#default .entradilla{font-size:0.75em; margin:0 0 15px 0;color:#293640;text-align:justify}
#default .default_descripcion{color:#293640;font-size:0.75em;text-align:justify}
#default .default_descripcion ol {list-style:decimal;margin:0 3em;}
#default .default_descripcion ul {list-style:disc;margin:0 3em;}
#default .default_descripcion li {padding:8px 0;color:#293640}

#default .default_autor {color:#666;margin:15px 0 0 0;font-size:0.75em;text-align:right;float:left;width:100%;}

#default .default_submenu {margin:10px 0 0 0;padding:20px 0px 0 0px;float:left;width:715px;border-top:1px solid #F2F2F2;}
#default .sinBorde{border:0;}

#default_utilitarios{margin:20px 0 10px 0;text-align:center;float:left;width:100%; color:#036; font-size:12px;}
#default_utilitarios span{display:none;}
#default_utilitarios a{padding:0 5px;}
#default_utilitarios .subir img{width:14px;height:12px;}
#default_utilitarios .imprimir img{width:72px;height:15px;}
#default_utilitarios .cuentele img{width:110px;height:16px;}


#facebook{text-align:justify;float:left}

/*** Lista Sencilla ***/
#lista_sencilla {font-size:0.75em;list-style:none;font-weight:bold}
#lista_sencilla li {text-align:left;padding:0;margin:0 0 10px 0;float:left;width:100%;}
#lista_sencilla li a {padding:0 0 0 15px;color:#5F7585;text-decoration:underline;display:block;float:left;}
#lista_sencilla li a:link{background:url(../images/bullet_5.gif) no-repeat left 6px}
#lista_sencilla li a:active{}
#lista_sencilla li a:hover {text-decoration:none;}
#lista_sencilla li a:visited{background:url(../images/bullet_6.gif) no-repeat left 6px}

/*** Descargar Archivo ***/
.default_submenu form img{vertical-align:middle}
.default_submenu form a{font-size:0.8em;text-decoration:underline;color:#666;}
.default_submenu form a:hover{text-decoration:none}
.default_submenu form span{font-size:0.8em;}
.default_submenu form div{margin:10px 0 0 0;text-align:center}
.default_submenu form div input{border:1px solid #ccc;background:#eee;padding:0.1em 0.3em;}

/*** Lista con Resumen y Lista Contenido ***/
#lista_resumen_contenidos li{float:left;width:100%;border-top:1px solid #F2F2F2;padding:8px 0}
#lista_resumen_contenidos .liFirst{border:none;padding-top:0;}

#lista_resumen_contenidos .encabezados{float:left;width:100%;}
#lista_resumen_contenidos .s_antetitulo {color:#666;margin:0 0 2px 0;padding:0;font-size:0.75em;}
#lista_resumen_contenidos .s_titulo {font-size:0.8em;font-weight:bold;}
#lista_resumen_contenidos .s_titulo a {color:#293640;text-decoration:none;}
#lista_resumen_contenidos .s_titulo a:hover {text-decoration:underline;}
#lista_resumen_contenidos .s_subtitulo {margin:2px 0 0 0;font-size:0.75em;color:#272727;background:transparent;}

#lista_resumen_contenidos .contenido{float:left;width:699px;margin:19px 0 0 0;padding:0 8px}
#lista_resumen_contenidos img {float:left;margin:0px 15px 0 0;padding:0;line-height:0;}

#lista_resumen_contenidos .s_fecha {color:#293640;margin:0 5px 0 0;padding:0;font-size:0.75em;float:left;font-weight:normal}
#lista_resumen_contenidos .listaEntradilla {color:#666;font-size:0.75em;margin:0px 0 0 0;text-align:justify}

#lista_resumen_contenidos .dVermas{text-align:right;display:block;color:#c00;text-decoration:underline;font-size:0.75em;padding:0 0 0 0;}
#lista_resumen_contenidos .dVermas span{color:#c00;}
#lista_resumen_contenidos .dVermas:hover{text-decoration:none}

/*** Galeria de Audio ***/
.object,
#videoContenedor{text-align:center;float:left;width:100%;}
#lista_resumen_contenidos .s_titulo {color:#293640;}
#lista_resumen_contenidos .linkEscuchar {padding:0.2em 0.5em;border:1px solid #ccc; background:#eee;margin:10px 0 0 0;float:right}
#lista_resumen_contenidos .linkEscuchar:hover{color:#003;text-decoration:none;}
.object embed{width:158px;height:77px;}

/*** Lista Primer Nivel ***/
#menuprimernivel, #menuprimernivel table{border-collapse:collapse;width:450px;}
#menuprimernivel th{text-align:left;}
#menuprimernivel td{vertical-align:top;width:50%;padding:0.2em 0}
#menuprimernivel table td{padding:0;}
#menuprimernivel h5 {padding:3px 5px;margin:0 0.5em; font-size:0.8em;font-weight:bold;border-bottom:1px solid #F2F2F2;background:#FBFBFB;}
#menuprimernivel h5 a{color:#293640;text-decoration:none;background:url(../images/bullet_3.gif) no-repeat left 8px;padding:0 0 0 7px}
#menuprimernivel h5 a:hover {text-decoration:underline;}
#menuprimernivel p {color:#666;padding:0.6em 1em 1.5em;font-size:0.75em;background:#FeFeFe;text-align:justify}
#menuprimernivel p a{color:#5F7585}

/*** Galeria de Fotos ***/
#galeria_foto, #galeria_foto table{width:100%;}
#galeria_foto table{border-collapse:collapse;}
#galeria_foto .contenido {border:1px solid #F2F2F2; padding:0;background:#fff;text-align:center;}
#galeria_foto .contenido th .linkInfo{display:block;color:#A10100;font-size:0.7em;font-weight:normal;text-decoration:none;padding:5px;background:#FFFAF5;border:1px solid #FFFAF5;border-bottom:1px solid #FCE7DF}
#galeria_foto .contenido th .linkInfo:hover{border-color: #fff #ACA899 #ACA899 #fff;}
#galeria_foto .contenido .tdImg{height:153px;}
#galeria_foto .comentario {height:45px;padding:0 2px;background:#F2F2F2 url(../images/back_16_.gif) repeat-x bottom;border:none;border-top:1px solid #F2F2F2;font-size:0.7em;font-weight:bold;}
#galeria_foto .comentario a {color:#586D7C;text-decoration:none;}
#galeria_foto .comentario a:hover {text-decoration:underline;}

.galeria {width:1024px; height:auto; background:#000; color:#FFF; margin:0 0 0 -1;}
.galeria_izquierda {width:1024px; background:#000; height:145px; float:left;}


/** Estilos Lightbox **/
#lightbox{position: absolute;left: 0;width: 100%;z-index: 100;text-align: center;line-height: 0;}
#lightbox a img{ border: none; }
#outerImageContainer{position: relative;background-color: #fff;width: 250px;height: 250px;margin: 0 auto;}
#imageContainer{padding: 10px;}
#loading{position: absolute;top: 40%;left: 0%;height: 25%;width: 100%;text-align: center;line-height: 0;}
#hoverNav{position: absolute;top: 0;left: 0;height: 100%;width: 100%;z-index: 10;}
#imageContainer>#hoverNav{ left: 0;}
#hoverNav a{ outline: none;}
#prevLink, #nextLink{width: 49%;height: 100%;background: transparent url(../images/lightbox/blank.gif) no-repeat; /* Trick IE into showing hover */ display: block;}
#prevLink { left: 0; float: left;}
#nextLink { right: 0; float: right;}
#prevLink:hover, #prevLink:visited:hover { background: url(../../../../js/themes/lightbox/prevlabel.gif) left 15% no-repeat; }
#nextLink:hover, #nextLink:visited:hover { background: url(../../../../js/themes/lightbox/nextlabel.gif) right 15% no-repeat; }
#imageDataContainer{font: 0.6em Arial, Helvetica, sans-serif;background-color: #fff;margin: 0 auto;line-height: 1.4em;}
#imageData{	padding:0 10px; color: #666; }
#imageData #imageDetails{ width: 70%; float: left; text-align: left; }
#imageData #caption{ font-weight: bold;	}
#imageData #numberDisplay{ display: block; clear: left; padding-bottom: 1.0em;	}
#imageData #bottomNavClose{ width: 66px; float: right;  padding-bottom: 0.7em;	}
#overlay{position: absolute;top: 0;left: 0;z-index: 90;width: 100%;height: 500px;background-color: #000;}
/* Min-Width */
.lbWidth { /* most browsers */position: absolute;top: 0px; left: 0px;width: 100%;min-width: 790px;}
* html .lbContent { /* IE6 */margin-left: -790px;position:relative;}
* html .lbMinWidth { /* IE6 */padding-left: 790px;}
/* Clearfix */
.clearfix:after {content: ".";display: block;height: 0;clear: both;visibility: hidden;}
/*.clearfix {display : inline-block;}*/
/* Hides from IE-mac */
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */

/* Paginacion */
.pagerH5{display:none}
.paginacion {text-align:center;margin-top:20px;background:#FBFBFB;float:left;width:920px}
.paginacion-aux-1{border:1px solid #F2F2F2;padding:2px 0 4px 0;}
.paginacion a {font-size:0.75em;color:#000;padding:0 0.3em;background:transparent}
.paginacion a:hover {text-decoration:none}
.paginacion .boton {color:#000;font-size:0.7em;margin:0 3px 0 3px;background:transparent}
.paginacion .boton:hover{text-decoration:none}
.paginacion .actual {font-size:0.8em;font-weight:bold;color:#c00;display:inline}

/*** FAQ ***/
#faq .formulario {display:block; border:1px solid #627A94; background:#F8F9FA; padding:5px 0;}
#faq .formulario h3{color:#2F3C48;margin:0 5px 10px 5px; padding:5px;background:#fff;}
#faq .formulario textarea{border:1px solid #2F3C48;vertical-align:middle;width:100%;}
#faq .formulario p{color:#2F3C48;margin:0; padding:5px 0;}
#faq .formulario p a{color:#2F3C48; font-weight:bold;}
#faq .enviar{border:1px solid #2F3C48;margin:3px 0 0 0;padding:2px;}
#default .default_descripcion #faq ul{text-align:left;margin:0;padding:0;}
#default .default_descripcion #faq li{display:block;list-style-type: none;margin:15px 0;padding:2px;border:1px solid #A8BDCB;border-top:3px solid #A8BDCB;}
#default .default_descripcion #faq li h3 {padding:7px; margin:0; color:#888;background:#E3E9EE}
#default .default_descripcion #faq li h3 a{color:#2F3C48;text-decoration:none;}
#default .default_descripcion #faq li h3 a:hover{text-decoration:underline;}
#default .default_descripcion #faq li p{margin:0;padding:10px;color:#000;background:transparent;}

/* Formulario de Personalizacion de Secciones */
#personal_usuario .nombre_seccion{height:24px;margin:6px 0;font:bold 1.1em Tahoma, Geneva, sans-serif;color:#666; border-bottom:1px solid #666;}
#personal_usuario .selected{font:0.8em Tahoma, Geneva, sans-serif; background:#FFF4E6; border:1px solid #FF9900;padding:5px;}
#personal_usuario .noselected{font:0.8em Tahoma, Geneva, sans-serif;padding:5px;}
#personal_usuario .button_usuario {border:1px solid; background:#e4e4e4;}

/* Template Home Usuario */
#bloque_personal{float:left;width:100%;margin:0 0 30px 0;background:#FBFDFD url(../images/back_18_.gif) repeat-x bottom;/*border-bottom:1px solid #c00;*/}
.cont_usuario .homeH2-aux-1{float:left;width:100%;margin:0 0 15px 0;background:#fff url(../images/back_18_.png) repeat-y left;}
.cont_usuario .homeH2-aux-2{float:left;width:100%;background:url(../images/back_2_.jpg) no-repeat left top;}
#h2Personal, .h2Personal {float:left;width:100%;font-size:0.8em;background:url(../images/back_19_.png) no-repeat left bottom;display:block;}
#h2Personal a, .h2Personal a, .h2Personal span{padding:9px 26px 7px;display:block;text-decoration:none;color:#069;background:transparent;}
.homeUserP{font-size:0.75em;color:#333;padding:0 26px 15px;}
.cont_usuario #h2Personal .mostrar{background:url(../images/bullet_4.gif) no-repeat 95% 60%}
.cont_usuario #h2Personal .ocultar{background:url(../images/bullet_5.gif) no-repeat 95% 60%}
.cont_usuario .homeUserSubLista{float:left;width:100%;padding:0 0 30px 0;background:/*#FBFDFD*/ url(../images/back_17_.gif) repeat-x top;}
.cont_usuario h3{padding:10px 0 0 26px;margin:0 0 10px 0;font-size:1em;text-align:left;}
.cont_usuario h3 a{color:#CC0000;text-decoration:none}
.cont_usuario .homeH3-aux-1 h4{float:left;width:100%;font:0.85em "Arial Black", Gadget, sans-serif;text-transform:uppercase;background:url(../images/back_13_.png) no-repeat left bottom;margin:0;}
.cont_usuario h5 {font-size:0.9em;font-weight:bold;float:left;width:100%;margin:0 0 7px}
.cont_usuario h5 a {color:#003;text-decoration:none;display:block}
.cont_usuario h5 a:hover {text-decoration:underline;}

/** Estilos Calendario **/
#calendario{float:left;width:100%;}
#calendario h3{text-transform:uppercase;text-align:center;font-size:1.2em;font-weight:bold;color:#faa634}
#calendario table{border-collapse:collapse;width:80%;border:1px solid #b0b0b0;margin:0 auto;text-align:center}
#calendario th, #calendario td {padding:0.2em 0;text-align:center;border-right:1px solid #eee;color:#666;}
#calendario caption{font-size:1.2em;font-weight:bold;text-transform:capitalize;color:#FF0000;padding:1em 0;margin:0 auto}
#calendario thead{border-bottom:1px solid #ccc;}
#calendario th{text-align:center;color:#fff;/*background:transparent;*/background:#293640;}

#meses caption{font-size:1em;}
#meses td{border-bottom:1px solid #b0b0b0;}
#meses td a{color:#666;text-decoration:none;text-transform:capitalize;}
#meses td a:hover{text-decoration:underline}

#mes .semana{/*background:#F4F4F4;*/color:#d90002;}
#mes .last {border-right:none;}

#mes .evento{background:#A10100;}
#mes .evento a{font-weight:bold}
#mes .evento a:link{color:#fff;background:transparent;}
#mes .evento a:visited{color:#C7C7C7}
#mes .evento a:hover,#mes .evento a:active{color:#000;background:transparent;}

#eventos_dia {margin:20px 0 0 10px}
#eventos_dia .fecha_evento{font:bold 1em arial;color:#0068B3;background:transparent;}
#eventos_dia .nombre_evento{margin:5px 0 0 5px;}
#eventos_dia .nombre_evento a{margin:5px 0 0 5px;font:bold 1em arial;color:#093A52;}

/*Estilos nube etiquetas*/
#titulo_nube{color:#293640;text-align:left;font-size:0.8em;font-weight:bold;float:left;width:100%;}
.nube{color: #293640;text-align:center;float: left;width:100%;font-size:0.7em;padding:5px 0;}
.nube span{display:none}
.nube a{/*float: left;*/margin: 0 5px;/*white-space: nowrap;*/text-decoration:none;color:#293640;line-height:1.4em;}
.nube .etiquetatam1{font-size: 1.1em;}
.nube .etiquetatam2{font-size: 120%;}
.nube .etiquetatam3{font-size: 130%;}
.nube .etiquetatam4{font-size: 140%;}
.nube .etiquetatam5{font-size: 150%;}
.nube .etiquetatam6{font-size: 160%;}
.nube .etiquetatam7{font-size: 170%;}
.nube .etiquetatam8{font-size: 180%;}
.nube .etiquetatam9{font-size: 190%;}
.nube .etiquetatam10{font-size: 2em;}
.nube a:hover{text-decoration:none;background:#293640;color:#fff;border-bottom:1px solid #fff;padding:4px 0 3px 0}

/* Bloque de enlaces en la parte inferior de la portada */
#enlaces   {float: left; padding-top: 10px; padding-bottom: 10px; background: #e0e4e7; font: 14px/120% Arial,Helvetica,sans-serif; }
#enlaces a {color: #293640; text-decoration:none;}
#enlaces a:hover {text-decoration: underline;}

.titulo_noticia{
	color:#B40404;
}

.ver_mas_noticia{
	color:#B40404;
}

.menu_util{padding-bottom:25px; height:auto;padding-top:10px; font-family:"AbadiMTCondensed","Trebuchet MS", Arial, Helvetica, sans-serif;}
.menu_util2{padding-bottom:25px; height:auto;padding-top:10px; font-family:"AbadiMTCondensed","Trebuchet MS", Arial, Helvetica, sans-serif; background:#FFF; color:#000;}
.escudo{width:auto;
		float:right;}
		
#izq{width:349px; background:#FFF; float:left; padding:10px 0; border-right:#999 solid 1px;}		
#video_contenido{width:335px;background:#FFF; margin:0 auto;}
#destacados2{width:335px; background:#FFF; margin:40px 10px 8px;}
	
#centro{width:433px; background:#FFF; float:left; border-right:#999 solid 1px;}
/*#centro h3{float:left;width:100%;padding:0 0 0 0;margin:0 0 10px 0;font-size:0.75em;background:url(../images/h3.jpg) repeat-x left bottom; color:#FFF; height:26px;}
#centro h3 a{padding:0 5px;display:block;text-decoration:none;color:#293640;background:transparent; color:#FFF;}
#centro h3 a:hover {text-decoration:underline;}*/
#centro #noticias{width:415px; background:#FFF; margin:-10px auto 10px; font-size:11pt;}
#centro #noticias li{ list-style:none;}

#der{width:240px; background:#FFF; float:right;padding:0 auto;}
#destacados{width:230px; background:#FFF; margin:0px 8px; float:right;}

.clear{ clear:both;}

#actualidad{margin:0;padding:0;float:left;width:1024px; height:auto;color:#fff;text-align:center;}

/*#actualidad ol {margin:auto;padding:auto;width:1024px;color:#fff; text-align:center;}*/
#actualidad ol li{margin:10px 5px;padding:0 5px;width:280px;color:#000; display:inline-block;}
#actualidad ol .flecha{margin:auto 0;padding:auto;color:#000; display:inline-block; vertical-align:central; position: relative;top: -60px;width: 20px;}
#actualidad ol li p{font-size:0.70em;margin:0;color:#000;padding:0;text-align:left;line-height:1em;width:140px; float:left;}
#actualidad ol li h4{font-size:0.60em;font-weight:bold;width:140px;display:inline;}
#actualidad ol li h4 a{color:#900;display:block;float:left;width:140px;padding:0;text-decoration:none;min-height:32px;margin:0 0 4px 0; text-align:left;}
#actualidad ol li h4 a:hover{text-decoration:underline;}
#actualidad ol img{float: left;margin: 0 4px 6px 0;  }
#actualidad h3{clear:both;}


#sup{ width:1024px; height:auto;}
#medios{margin:0;padding:0;float:left;width:1024px;color:#fff;}

#medios .aux-destacados-1{float:left;width:1024px; padding:0 0 0 0; position: relative; left: 0px; background:#FFF;}
#medios .nav_destacados p{padding:0;width:100%;}
#medios .nav_destacados p.ni-aux-1 a{padding:0 0 0 0}
#medios .nav_destacados p a.btnLast{padding:0;}
#medios .fi-aux-1{float:left;width:1020px;border-top:1px solid #A5B2BB;margin:0 0 0 0;padding:0 2px 2px 2px;background:#fff; position: relative;}
#medios .fi-aux-2{float:left;width:1020px;padding:12px 0 9px 0;}

#medios map p{float:left;width:100%;text-align:center}
#medios map p.ni-aux-1{}
#medios map p.ni-aux-1 a{padding:0 0 0 0}
#medios map p.ni-aux-2{}
#medios map p.ni-aux-2 a{padding:0 0% 0 0}
#medios map p a.btnLast{padding:0;}
#medios map a{/*width:19.9%;display:block;float:left;*/text-align:left;}
#medios map img{/*float:left;*/}

#medios .nav_destacados p{padding:0;width:100%;}
#medios .nav_destacados p.ni-aux-1 a{padding:0 0 0 0}
#medios .nav_destacados p a.btnLast{padding:0;}

#recomendados{margin:0;padding:0;float:left;width:1024px; height:auto;color:#fff;}
#recomendados ol{margin:auto;padding:auto;width:1024px;color:#fff; text-align:center;}
#recomendados ol li{margin:5px 10px 0 10px;width:300px;color:#fff; display:inline-block; vertical-align:top;}
#recomendados ol li p{font-size:0.75em;margin:0;color:#999;padding:0;clear:both;text-align:right;line-height:1em;width:300px;}
#recomendados ol li h4{font-size:0.75em;font-weight:bold;}
#recomendados ol li h4 a{color:#333;display:block;float:left;width:300px;padding:0;text-decoration:none;min-height:32px;margin:0 0 4px 0;}
#recomendados ol li h4 a:hover{text-decoration:underline;}
#recomendados ol .aImg{float:none;margin:0 0 6px 0;}
#recomendados h3{clear:both;}


#redes{width:100%; margin:0; background:#C36; height:auto;}


