     @media (min-width: 800px) and (max-width: 850px) {
              .navbar:not(.top-nav-collapse) {
<<<<<<< HEAD
                 /* background: #ffffff!important;*/
              }
          }
 
.carousel,.carousel .carousel-inner,.carousel .carousel-inner .active,.carousel .carousel-inner .carousel-item,.view,body,html{height:100%}.navbar{color:#ffffff;}.fondo1.page-footer,.top-nav-collapse, .top-nav-collapse ul {background:#ffffff; color:#000000}@media only screen and (max-width:768px){}.top-nav-collapse ul li ul a{background-color:transparent; color:#000000}
=======
                  background: #ffffff!important;
              }
          }

.carousel,.carousel .carousel-inner,.carousel .carousel-inner .active,.carousel .carousel-inner .carousel-item,.view,body,html{height:100%}.navbar{color:#ffffff;}.fondo1.page-footer,.top-nav-collapse, .top-nav-collapse ul {background:#ffffff; color:#000000}@media only screen and (max-width:768px){.navbar{background-color:rgba(0,0,0,.2)}}.top-nav-collapse ul li ul a{background-color:transparent; color:#000000}
>>>>>>> ac4e7771a00631e5bb113a2b4a2ac73aed97d91f
