<br />
<br />
<div align="center">
    <table>
        <tr>
            <td>
                <div class="casilla1">
                    <a href="https://www.ejercito.mil.co/index.php?ne&idcategoria=395548" target="_blank">
                        <img src="img/1.jpg" width="300" height="300"/>
                    </a>
                 </div>
            </td>
            <td>
                <div class="casilla2">
                    <a href="https://www.ejercito.mil.co/index.php?idcategoria=385348" target="_blank">
                        <img src="img/2.jpg" width="300" height="300"/>
                    </a>
                 </div>
            </td>
            <td>
                <div class="casilla3">
                    <a href="https://www.ejercito.mil.co/index.php?idcategoria=395023" target="_blank">
                        <img src="img/3.jpg" width="300" height="300"/>
                    </a>
                 </div>
            </td>
        </tr>
    </table>
</div>
